{% extends 'AdminTemplates/baseAdmin.html' %}


{% load static %}



{% block cssFiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="{% static 'assetsAdmin/css/billing.css' %}" rel="stylesheet">

{% endblock cssFiles %}
	


{% block contentAdmin %}
  
  


  <div class="content-wrapper">
    <div  class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active">Sipariş Detay</li>

      </ol>
	

	  <!-- Page Wrapper -->
	  <div id="invoice" class="page-wrapper">
		<div class="content container-fluid">
		
			<!-- Invoice Container -->
			<div class="invoice-container">
				
				<div class="row">
					<div class="col-sm-6 m-b-20">
						<img alt="Logo" style="background-color: purple;" class="inv-logo img-fluid" src="{{logo.image.url}}">
					</div>
					<div class="col-sm-6 m-b-20">
						<div class="invoice-details">
							<h6 class="text-uppercase">Fatura #{{order.merchant_oid}}</h6>
							<ul class="list-unstyled mb-0">
								<li>Tarih: <span>{{order.updated_date.date}}</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 m-b-20">
						<ul class="list-unstyled mb-0">
							<li>Turkaze Psikolog</li>
							<li>{{user.address}}</li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6 col-lg-7 col-xl-8 m-b-20">
						<h6>Satın Alan Kişinin Bilgileri</h6>
						<ul class="list-unstyled mb-0">
							<li><h5 class="mb-0"><strong>{{order.user.get_full_name}}</strong></h5></li>
							<li>{{order.user.address}}</li>
							
							<li>{{order.user.phone_number}}</li>
							<li><a href="#">{{order.user.email}}</a></li>
						</ul>
					</div>
					<div class="col-sm-6 col-lg-5 col-xl-4 m-b-20">
						<h6>Ödeme Detayları</h6>
						<ul class="list-unstyled invoice-payment-details mb-0">
							<li><h5>Toplam Tutar: <span class="text-right">{{order.price}} ₺</span></h5></li>
							
						</ul>
					</div>
				</div>
				<br><br>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Ürün</th>
								<th class="text-nowrap">Birim Fiyat</th>
								<th>Adet</th>
								<th>Toplam</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>{{order.course.title}}</td>
								<td>{{order.price}} ₺</td>
								<td>1</td>
								<td>{{order.price}} ₺</td>
							</tr>
						
					
						</tbody>
					</table>
				</div>
				
				<div>
					<div class="row invoice-payment">
						<div class="col-sm-7">
						</div>
						<div class="col-sm-5">
							<div class="m-b-20">
								<h6>Toplam</h6>
								<div class="table-responsive no-border">
									<table class="table mb-0">
										<tbody>
										
										
											<tr>
												<th>Toplam:</th>
												<td class="text-right text-primary"><h5>{{order.price}} ₺</h5></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-info">
						<h5>Bİlgilendirme</h5>
						<p class="text-muted mb-0">Bu fatura; yukarıda adı geçmekte olan şahısın turkazepsikolog.com sitesine ait olan {{order.course.title}} adlı kursu {{order.updated_date.date}} tarihinde satın aldığına dair bir faturalandırmadır .</p>
					</div>
				</div>
				
			</div>
			<!-- /Invoice Container -->
			
		</div>			
	</div>
	<!-- /Page Wrapper -->
	<a href="#" style="float: right;" onclick="getPDF();"  class="btn btn-success btn-sm">Pdf İndir</a>
	<br><br>

		<div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa fa-user"></i>Kullanıcı Profil Bilgileri</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
					<label for="">&emsp;&emsp;</label>
					<img src="{{order.user.image.url}}" width="50%" alt="">
				    </div>
				</div>
				<div class="col-md-8 add_top_30">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>İsim</label>
								<input type="text" disabled value="{{order.user.first_name}}" class="form-control" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Soyisim</label>
								<input type="text" class="form-control" disabled value="{{order.user.last_name}}">
							</div>
						</div>
					</div>
					<!-- /row-->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Telefon</label>
								<input type="text" class="form-control" disabled value="{{order.user.phone_number}}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Email</label>
								<input type="email" class="form-control" disabled value="{{order.user.email}}">
							</div>
						</div>
					</div>
					<!-- /row-->
		
			
				</div>
			</div>
		</div>
	
	
    


        <div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa-solid fa-graduation-cap"></i>Kurs Bilgileri</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
					<label for="">&emsp;&emsp;</label>
					<img src="{{order.course.image.url}}" width="50%" alt="">
				    </div>
				</div>
				<div class="col-md-8 add_top_30">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Kurs Adı</label>
								<input type="text" disabled value="{{order.course.title}}" class="form-control" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Satın Alınan Fiyat</label>
								<input type="text" class="form-control" disabled value="{{order.price}} ₺">
							</div>
						</div>
					</div>
					<!-- /row-->
				
		
			
				</div>
			</div>
		</div>

		








		<!-- /row-->
		
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->




    {% endblock contentAdmin %}




    {% block scriptsAdmin %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'assetsAdmin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'assetsAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'assetsAdmin/vendor/chart.js/Chart.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/jquery.selectbox-0.2.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/retina-replace.min.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/jquery.magnific-popup.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'assetsAdmin/js/admin.js' %}"></script>




<script>
	function getPDF() {
		const invoice = this.document.getElementById("invoice");
		html2pdf().from(invoice).save();
		var opt = {
			margin: 1,
			filename: 'fatura.pdf',
			image: { type: 'jpeg', quality: 0.98 },
			html2canvas: { scale: 2 },
			jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
		};
	//	html2pdf().from(invoice).set(opt).save();
	
}
</script>

    
    {% endblock scriptsAdmin %}


