{% extends 'AdminTemplates/baseAdmin.html' %}


{% load static %}





{% block contentAdmin %}
  
  


  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active">Sipariş Detay</li>
      </ol>
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa fa-user"></i>Kullanıcı Profil Bilgileri</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
					<label for="">&emsp;&emsp;</label>
					<img src="{{order.user.image.url}}" width="50%" alt="">
				    </div>
				</div>
				<div class="col-md-8 add_top_30">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>İsim</label>
								<input type="text" disabled value="{{order.user.first_name}}" class="form-control" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Soyisim</label>
								<input type="text" class="form-control" disabled value="{{order.user.last_name}}">
							</div>
						</div>
					</div>
					<!-- /row-->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Telefon</label>
								<input type="text" class="form-control" disabled value="{{order.user.phone_number}}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Email</label>
								<input type="email" class="form-control" disabled value="{{order.user.email}}">
							</div>
						</div>
					</div>
					<!-- /row-->
		
			
				</div>
			</div>
		</div>
		<!-- /box_general-->
	
    


        <div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa-solid fa-graduation-cap"></i>Kurs Bilgileri</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
					<label for="">&emsp;&emsp;</label>
					<img src="{{order.course.image.url}}" width="50%" alt="">
				    </div>
				</div>
				<div class="col-md-8 add_top_30">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Kurs Adı</label>
								<input type="text" disabled value="{{order.course.title}}" class="form-control" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Kategorisi</label>
								<input type="text" class="form-control" disabled value="{{order.course.category}}">
							</div>
						</div>
					</div>
					<!-- /row-->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Satın Alınan Fiyat</label>
								<input type="text" class="form-control" disabled value="{{order.price}} ₺">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Kurs Açıklaması</label>
                                <p>{{order.course.description|safe}}</p>
							</div>
						</div>
                      
					</div>
					<!-- /row-->
		
			
				</div>
			</div>
		</div>









		<!-- /row-->
		
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->




    {% endblock contentAdmin %}




    {% block scriptsAdmin %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'assetsAdmin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'assetsAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'assetsAdmin/vendor/chart.js/Chart.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/jquery.selectbox-0.2.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/retina-replace.min.js' %}"></script>
    <script src="{% static 'assetsAdmin/vendor/jquery.magnific-popup.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'assetsAdmin/js/admin.js' %}"></script>
    
    {% endblock scriptsAdmin %}


