{% extends 'AdminTemplates/baseAdmin.html' %}


{% load static %}








{% block cssFiles %}
<link href="{% static 'assetsAdmin/vendor/dropzone.css' %}" rel="stylesheet">
<link href="{% static 'assetsAdmin/css/date_picker.css' %}" rel="stylesheet">


{% endblock cssFiles %}







{% block contentAdmin %}

<form id="form" action="" hidden method="post">

<input type="date" value="as" hidden name="dateForm" id="dateForm">
<input type="time" value="as" hidden name="timeForm" id="timeForm">
</form>



<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'indexAdmin' %}">Anasayfa</a>
      </li>
      <li class="breadcrumb-item active">Randevu Gün Detayı</li>
    </ol>


    

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
  
      {% if message.tags == "error" %}
      <div class="alert alert-danger" role="alert">
  
        <center><strong>{{message}}</strong></center>
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">
  
        <center><strong>{{message}}</strong></center>
      </div>
      {% endif %}
  
  
  
      {% endfor %}
    </ul>
  {% endif %}


  <div class="box_general padding_bottom">
    <div class="header_box version_2">
        <h2><i class="fa-solid fa-video"></i>Randevular</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h6>Randevu Bilgileri</h6>
            <table id="pricing-list-container" style="width:100%;">
                <tr class="pricing-list-item">
                    <td>




                        
        {% for schedule in schedules %}
          <div class="row">
                                              <div class="col-md-3">
                                                  <div class="form-group">
                                                      <input id="date{{schedule.pk}}" style="color: black; font-weight: bold;" name="date" type="date" class="form-control" disabled value="{{schedule.date | date:'c'}}">
                                                  </div>
                                              </div>
                                              <div class="col-md-2">
                                                  <div class="form-group">
                                                    <select disabled id="time{{schedule.pk}}" class="form-control" name="time">
                                                      <option 
                                                      {% if schedule.starting_time.hour == 9 %}
                                                        selected
                                                      {% endif %}
                                                         value="09:00:00">09/10</option>
                                                      <option  {% if schedule.starting_time.hour == 10 %}
                                                      selected
                                                    {% endif %}
                                                     value="10:00:00">10/11</option>
                                                      <option
                                                      {% if schedule.starting_time.hour == 11  %}
                                                      selected
                                                    {% endif %}
                                                      value="11:00:00">11/12</option>
                                                      <option
                                                      
                                                      {% if schedule.starting_time.hour == 12 %}
                                                      selected
                                                    {% endif %}
                                                      
                                                      value="12:00:00">12/13</option>
                                                      <option 
                                                      {% if schedule.starting_time.hour == 14 %}
                                                      selected
                                                    {% endif %}
                                                      
                                                      value="14:00:00">14/15</option>
                                                      <option
                                                      
                                                      {% if schedule.starting_time.hour == 15 %}
                                                      selected
                                                    {% endif %}
                                                      value="15:00:00">15/16</option>
                                                      <option
                                                      {% if schedule.starting_time.hour == 16 %}
                                                      selected
                                                    {% endif %}
                                                      value="16:00:00">16/17</option>
                                                      <option
                                                      
                                                      {% if schedule.starting_time.hour == 17 %}
                                                      selected
                                                    {% endif %}
                                                      value="17:00:00">17/18</option>

                                                    </select>
                                                      <!-- <input id="" style="color: black; font-weight: bold;" type="text" name="time" class="form-control"  disabled value="{{schedule.starting_time}}/{{schedule.finishing_time}}"> -->
                                                  </div>
                                              </div>
                                              <div class="col-md-2">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" disabled 
                                                      {% if schedule.status == "yes" %}
                                                           value="Onaylandı" style="color: green; font-weight: bold;"
                                                        {% elif schedule.status == "pending" %}
                                                        value="Beklemede" style="color: orange; font-weight: bold;"
                                                        {% else %}
                                                        value="Randevusuz"  style="color: red; font-weight: bold;"
                                                      {% endif %}

                                                          >
                                                       
                                                  </div>
                                              </div>
                                              
                                              {% if schedule.status == "no" %}
                                              <div class="col-md-2">
                                                <div class="form-group">
                                                 <a id="editBtn{{schedule.pk}}" href="#" onclick="editInput('{{schedule.pk}}')"> <i class="fa-solid fa-pen-to-square"></i></a>
                                                  &emsp;
                                                  <a href="{% url 'deleteAppointmentDetailAdmin' schedule.pk %}"><i class="fa fa-fw fa-remove"></i></a>
                                                </div>
                                              </div>
                                              {% endif %}
                                              
                                          </div>
        {% endfor %}
          




                    </td>
                </tr>
            </table>
            </div>
    </div>
    <!-- /row-->
</div>












  </div>
  <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->


{% endblock contentAdmin %}




  
{% block scriptsAdmin %}









<!-- Bootstrap core JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Page level plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/chart.js/Chart.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.selectbox-0.2.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/retina-replace.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.magnific-popup.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assetsAdmin/js/admin.js' %}"></script>
<script src="{% static 'assetsAdmin/js/admin-datatables.js' %}"></script>




<script>
  function deleteObject(pk,str){
      var result= confirm("Bu randevu taihini ve alt randevuları silmek istediğinize emin misiniz?");
      if (result){
          document.location.href = "/psyc-admin/admin-gun-randevu-sil/" + pk;
      }
  }



  function editInput(pk){

    var idDate="date"+pk;
    var idTime="time"+pk;
    var btnEdit="editBtn"+pk;
    var date=document.getElementById(idDate);
    var time=document.getElementById(idTime);
    var btn=document.getElementById(btnEdit);
    var form=document.getElementById("form");
    var dateForm=document.getElementById("dateForm");
    var timeForm=document.getElementById("timeForm");
    if (date.disabled==true){
      date.disabled=false;
      time.disabled=false;
      dateForm.value=date.value;
      timeForm.value=time.value;
      btn.innerHTML="<i style='color:green; font-weight: bold;' class='fa-solid fa-check'></i>";

    }else{
      date.disabled=true;
      time.disabled=true;
      btn.innerHTML="<i class='fa-solid fa-pen-to-square'></i>";
      dateForm.value=date.value;
      timeForm.value=time.value;
      form.action="/psyc-admin/admin-randevu-düzenle/"+pk;
      form.submit();
    }


  }






</script>


<!-- Custom scripts for this page-->
{% endblock scriptsAdmin %}