{% extends 'AdminTemplates/baseAdmin.html' %}

{% load static %}

{% block contentAdmin %}



<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'indexAdmin' %}">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">Bildirimler</li>
        </ol>

         {% if messages %}
    <ul class="messages">
      {% for message in messages %}
  
      {% if message.tags == "error" %}
      <div class="alert alert-danger" role="alert">
  
        <center><strong>{{message}}</strong></center>
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">
  
        <center><strong>{{message}}</strong></center>
      </div>
      {% endif %}
  
  
  
      {% endfor %}
    </ul>
  {% endif %}




        <div class="box_general">
            <h4>Bildirimler</h4>
            <div class="list_general">
                <ul>


                    {% if notifications %}
                    {% for not in notifications %}

                    <li>
                        
                        {% if not.type == "comment" %}
                        <figure><img src="{{not.object.image.url}}" alt=""></figure>
                        <small>{{not.object.category.name}}</small>
                        <h4>{{not.object.title}}</h4>
                        {% elif not.type == "commentBlog" %}
                        <figure><img src="{{not.blogObject.image.url}}" alt=""></figure>
                        <!-- <small>{{not.blogObject.title}}</small> -->
                        <h4>{{not.blogObject.title}}</h4>
                        {% endif %}
                            
                        
                        <p>{{not.message}}</p>
                        <!-- <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View course</a></p> -->
                        <ul class="buttons">
                            <li><a onclick="ConfirmDelete()" href="{% url 'deleteNotificationsAdmin' not.pk %}"  class="btn_1 gray delete" >
                                <i class="fa fa-fw fa-times-circle-o"></i> Sil</a></li>
                        </ul>
                    </li>
                    {% endfor %}
                    {% else %}
                    <center> <p style="color: red; font-weight: bold;">Henüz bildiriminiz bulunmuyor.</p></center>
                    {% endif %}


                </ul>
            </div>
        </div>
        <!-- /box_general-->
        <nav aria-label="...">
            <ul class="pagination pagination-sm add_bottom_30">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Önceki</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Sonraki</a>
                </li>
            </ul>
        </nav>
        <!-- /pagination-->
    </div>
    <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->

{% endblock contentAdmin %}




{% block scriptsAdmin %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Page level plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/chart.js/Chart.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.selectbox-0.2.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/retina-replace.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.magnific-popup.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assetsAdmin/js/admin.js' %}"></script>


<script>

function ConfirmDelete()
{
  
let months=["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", 
	"Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"]

let dates=[];

    var today = new Date();
 

for (let i = 0; i < 13; i++) {
    var date = new Date();
    var first = new Date(date.getTime() - ((13-i) * 24 * 60 * 60 * 1000));
    var month=months[first.getMonth()];
    var dat=first.getDate();
    var newDate=dat+" "+month;
    dates.push(newDate);
}

var today = new Date();
var month=months[today.getMonth()]
var dat=today.getDate();
}

</script>



{% endblock scriptsAdmin %}