{% extends 'AdminTemplates/baseAdmin.html' %}


{% load static %}

{% block cssFiles %}
<link href="{% static 'assetsAdmin/vendor/dropzone.css' %}" rel="stylesheet">
<link href="{% static 'assetsAdmin/css/date_picker.css' %}" rel="stylesheet">
{% endblock cssFiles %}


{% block contentAdmin %}


<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'indexAdmin' %}">Anasayfa</a>
      </li>
      <li class="breadcrumb-item active">Kategori Ayarları</li>
    </ol>


   


    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
  
      {% if message.tags == "error" %}
      <div class="alert alert-danger" role="alert">
  
        <center><strong>{{message}}</strong></center>
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">
  
        <center><strong>{{message}}</strong></center>
      </div>
      {% endif %}
  
  
  
      {% endfor %}
    </ul>
  {% endif %}



    <!-- Example DataTables Card-->
    <div  class="card mb-3">
      <div style="font-weight: bold; color: red;" class="card-header">
        <i class="fa fa-table"></i> KATEGORİLER
        <div style="float: right;">
          <a  href="{% url 'addCategoryAdmin' %}" type="button" title="Kategori Ekle" class="btn btn-warning btn-sm"><i class="fa-solid fa-circle-plus"></i> Kategori Ekle</a>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr style="font-weight: bold; color: black;">
                <th>Fotoğraf</th>
                <th>Kategori Adı</th>
                <th>Bağlı Kurs Sayısı</th>
                <th>İşlemler</th>
              </tr>
            </thead>
            <tbody>
              {% for cat in categories %}
              <tr>
                <td><center><img style="width: 140px; height: 100px;" src="{{cat.image.url}}" alt=""></center></td>
                <td>{{cat.name|truncatechars:25}}</td>
                <td>{{cat.countCourseOfCategory}}</td>
               
                <td>
                  
                  <center><a href="{% url 'addCategoryAdmin' %}?categoryId={{cat.pk}}" type="button" title="Düzenle" class="btn btn-primary btn-sm"><i class="fas fa-solid fa-pen-to-square"></i></a>&emsp;&emsp;
                    <a href="#" type="button" onclick="deleteObject('{{cat.pk}}')" title="Sil" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a></center>
                </td>

              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
    </div>
    <!-- /tables-->




  </div>
  <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->


{% endblock contentAdmin %}



{% block scriptsAdmin %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Page level plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/chart.js/Chart.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.selectbox-0.2.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/retina-replace.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.magnific-popup.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assetsAdmin/js/admin.js' %}"></script>
<script src="{% static 'assetsAdmin/js/admin-datatables.js' %}"></script>

<script>
  function deleteObject(pk){
      var result= confirm("Bu kategoriyi silmek istediğinize emin misiniz?");
      if (result){
          document.location.href = "/psyc-admin/admin-kategori-sil/" + pk;
      }
  }
</script>




{% endblock scriptsAdmin %}