{% extends 'AdminTemplates/baseAdmin.html' %}


{% load static %}

{% block cssFiles %}
<link href="{% static 'assetsAdmin/vendor/dropzone.css' %}" rel="stylesheet">
<link href="{% static 'assetsAdmin/css/date_picker.css' %}" rel="stylesheet">
{% endblock cssFiles %}


{% block contentAdmin %}


<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'indexAdmin' %}">Anasayfa</a>
      </li>
      <li class="breadcrumb-item active">Öğrenecekleriniz</li>
    </ol>





    {% if messages %}
    <ul class="messages">
      {% for message in messages %}

      {% if message.tags == "error" %}
      <div class="alert alert-danger" role="alert">

        <center><strong>{{message}}</strong></center>
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">

        <center><strong>{{message}}</strong></center>
      </div>
      {% endif %}



      {% endfor %}
    </ul>
    {% endif %}



    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div style="font-weight: bold; color: red;" class="card-header">
        <i class="fa fa-table"></i> Öğrenecekleriniz
        <div style="float: right;">
          <a href="{% url 'courseDetailAdmin' pk=course.pk %}" type="button" class="btn btn-warning"><i class="fa-solid fa-eye"></i> Kurs Detay</a>&emsp;
          <a href="{% url 'wwylAddAdmin' %}?courseId={{course.pk}}" type="button" class="btn btn-warning"><i class="fa-solid fa-circle-plus"></i> Ekle</a>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr style="font-weight: bold; color: black;">
                <th>Bağıl Kurs Adı</th>
                <th>İsim</th>
                <th width="40%">Açıklama</th>
                <th>İşlemler</th>
              </tr>
            </thead>
            <tbody>
              {% for cat in wwyl %}
              <tr>
                <td>{{cat.course.title}}</td>
                <td>{{cat.title}}</td>
                <td>{{cat.description}}</td>

                <td>
                  <center>
                    <div style="display: inline-block; "><a href="{% url 'wwylAddAdmin' %}?ogrenId={{cat.pk}}&courseId={{cat.course.pk}}" type="button"
                        class="btn btn-primary btn-xs" title="Düzenle"><i class="fa-solid fa-pen-to-square"></i></a>&emsp;
                      <a type="button" class="btn btn-danger btn-xs" href="{% url 'deleteWwylAdmin' cat.pk %}" title="Sil"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                  </center>
                </td>

              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
    </div>
    <!-- /tables-->




  </div>
  <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->


{% endblock contentAdmin %}



{% block scriptsAdmin %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Page level plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/chart.js/Chart.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.selectbox-0.2.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/retina-replace.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.magnific-popup.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assetsAdmin/js/admin.js' %}"></script>
<script src="{% static 'assetsAdmin/js/admin-datatables.js' %}"></script>





{% endblock scriptsAdmin %}