{% extends 'AdminTemplates/baseAdmin.html' %}


{% load static %}

{% block cssFiles %}
<link href="{% static 'assetsAdmin/vendor/dropzone.css' %}" rel="stylesheet">
<link href="{% static 'assetsAdmin/css/date_picker.css' %}" rel="stylesheet">
{% endblock cssFiles %}


{% block contentAdmin %}


<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'indexAdmin' %}">Anasayfa</a>
      </li>
      <li class="breadcrumb-item active">Menü Ayarları</li>
    </ol>


   


    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
  
      {% if message.tags == "error" %}
      <div class="alert alert-danger" role="alert">
  
        <center><strong>{{message}}</strong></center>
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">
  
        <center><strong>{{message}}</strong></center>
      </div>
      {% endif %}
  
  
  
      {% endfor %}
    </ul>
  {% endif %}



    <!-- Example DataTables Card-->
    <div  class="card mb-3">
      <div style="font-weight: bold; color: red;" class="card-header">
        <i class="fa fa-table"></i> ÜST MENÜLER
        <div style="float: right;">
          <a  href="{% url 'addMenu' %}?tip=ust-menu-ekle" type="button" class="btn btn-warning btn-sm"><i class="fa-solid fa-circle-plus"></i> Üst
            Menü Ekle</a>&emsp;&emsp;
          <a href="{% url 'addMenu' %}?tip=alt-menu-ekle" type="button" class="btn btn-warning btn-sm"><i class="fa-solid fa-circle-plus"></i> Alt Menü Ekle</a>


        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr style="font-weight: bold; color: black;">
                <th>Menü İsmi</th>
                <th>Url</th>
                <th>Kullanıcı Tipi</th>
                <th>Menü Tipi</th>
                <th>Menü Sıra</th>
                <th>İşlemler</th>
              </tr>
            </thead>
            <tbody>
              {% for menu in topMenuler %}
              <tr>
                <td>{{menu.name}}</td>
                <td>{{menu.url}}</td>
                <td>{{menu.userType}}</td>
                <td>{{menu.menuType}}</td>
                <td>{{menu.menuSira}}</td>
                <td>
                  <center><a href="{% url 'addMenu' %}?tip=ust-menu-ekle&menuId={{menu.pk}}" type="button" class="btn btn-primary btn-sm" title="Düzenle"><i class="fa-solid fa-pen-to-square"></i></a>&emsp;&emsp;&emsp;
                    <a href="#" onclick="deleteObject('{{menu.pk}}','ust-menu')"  type="button" class="btn btn-danger btn-sm" title="Sil"><i class="fa-solid fa-trash-can"></i></a></center>
                </td>

              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
    </div>
    <!-- /tables-->


    <div class="card mb-3">
      <div style="font-weight: bold; color: red;" class="card-header">
        <i class="fa fa-table"></i> ALT MENÜLER
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
            <thead>
              <tr style="font-weight: bold; color: black;">
                <th>Menü İsmi</th>
                <th>Url</th>
                <th>Bağlı Menü</th>
                <th>Kullanıcı Tipi</th>
                <th>Menü Tipi</th>
                <th>Menü Sıra</th>
                <th>İşlemler</th>
              </tr>
            </thead>
            <tbody>



              {% for menu in bottomMenuler %}
              <tr>
                <td>{{menu.name}}</td>
                <td>{{menu.url}}</td>
                <td>{{menu.topMenu.name}}</td>
                <td>{{menu.userType}}</td>
                <td>{{menu.menuType}}</td>
                <td>{{menu.menuSira}}</td>
                <td>
                  <center><a href="{% url 'addMenu' %}?tip=alt-menu-ekle&menuId={{menu.pk}}" type="button" class="btn btn-primary btn-sm" title="Düzenle"><i class="fa-solid fa-trash-can"></i></a>&emsp;&emsp;&emsp;<a
                      href="#" onclick="deleteObject('{{menu.pk}}','alt-menu')" type="button" title="Sil" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a></center>
                </td>

              </tr>

              {% endfor %}




            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
    </div>



  </div>
  <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->


{% endblock contentAdmin %}



{% block scriptsAdmin %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Page level plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/chart.js/Chart.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.selectbox-0.2.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/retina-replace.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.magnific-popup.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assetsAdmin/js/admin.js' %}"></script>
<script src="{% static 'assetsAdmin/js/admin-datatables.js' %}"></script>



<script>
  function deleteObject(pk,str){
      var result= confirm("Bu menüyü silmek istediğinize emin misiniz?");
      if (result){
          document.location.href = "/psyc-admin/admin-menu-sil/" + pk+"/"+str;
      }
  }
</script>

{% endblock scriptsAdmin %}