  {% load static %}
  

  
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'indexAdmin' %}"><img src="{{adminLogoSite.image.url}}" data-retina="true" alt="" width="163" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Anasayfa">
          <a class="nav-link" href="{% url 'indexAdmin' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Anasayfa</span>
          </a>
        </li>
		<!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mesajlar">
          <a class="nav-link" href="{% url 'showAllMessages' %}">
            <i class="fa fa-fw fa-envelope-open"></i>
            <span class="nav-link-text">Mesajlar</span>
          </a>
        </li> -->



        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mesajlar">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProfilesr" data-parent="#exampleAccordion">
            <i class="fa-solid fa-message"></i>
            <span class="nav-link-text">Mesajlar</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseProfilesr">
            <li>
              <a href="{% url 'showAllMessages' %}">İletişim</a>
            </li>
            <li>
              <a href="{% url 'listNotificationsAdmin' %}">Bildirimler</a>
            </li>


            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Yorumlar">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#commentsas" data-parent="">
                <i class="fa fa-solid fa-comments"></i>
                <span class="nav-link-text">Yorumlar</span>
              </a>
              <ul class="sidenav-second-level collapse" id="commentsas">
                <li>
                  <a href="{% url 'commentsAdmin' %}">Tüm Yorumlar</a>
                </li>
                <li>
                  <a href="{% url 'commentsRequestAdmin' %}">Yorum İstekleri</a>
                </li>
            
              </ul>
            </li> 

			      
          </ul>
        </li>







        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bildirimler">
          <a class="nav-link" href="{% url 'listNotificationsAdmin' %}">
            <i class="fa fa-solid fa-bell"></i>
            <span class="nav-link-text">Bildirimler</span>
          </a>
        </li> -->
		<!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookings">
          <a class="nav-link" href="courses.html">
            <i class="fa fa-fw fa-archive"></i>
            <span class="nav-link-text">Courses <span class="badge badge-pill badge-primary">6 New</span></span>
          </a>
        </li> -->




        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kurs İşlemleri">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProfiles" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-archive"></i>
            <span class="nav-link-text">Kurs İşlemleri</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseProfiles">
            <li>
              <a href="{% url 'categoryListAdmin' %}">Kategoriler</a>
            </li>
            <li>
              <a href="{% url 'courseListAdmin' %}">Kurslar</a>
            </li>
            <!-- <li>
              <a href="user-profile.html">User profile</a>
            </li> -->
			      
          </ul>
        </li>

       



        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Randevu">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#commentsba" data-parent="#exampleAccordion">
            <i class="fa-solid fa-calendar-check"></i>
            <span class="nav-link-text">  Randevu</span>
          </a>
          <ul class="sidenav-second-level collapse" id="commentsba">
            <li>
              <a href="{% url 'pastAppointmentsAdmin' %}">Geçmiş Randevular</a>
            </li>
            <li>
              <a href="{% url 'nextAppointmentsAdmin' %}">Gelecek Randevularınız</a>
            </li>
            <li>
              <a href="{% url 'listAppointmentsAdmin' %}">Randevu İstekleri</a>
            </li>
            <li>
              <a href="{% url 'appointmentsAdmin' %}">Randevu Ayarları</a>
            </li>
            <li>
              <a href="{% url 'appointmentCategoryListAdmin' %}">Randevu Kategorileri</a>
            </li>
           
          </ul>
        </li>







        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sipariş">
          <a class="nav-link" href="{% url 'listBillingsAdmin' %}">
            <i class="fa fa-solid fa-credit-card"></i>
            <span class="nav-link-text">Sipariş</span>
          </a>
        </li>
        
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Randevu İstekleri">
          <a class="nav-link" href="{% url 'listAppointmentsAdmin' %}">
            <i class="fa fa-solid fa-credit-card"></i>
            <span class="nav-link-text">Randevu İstekleri</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Randevu İstekleri">
          <a class="nav-link" href="{% url 'appointmentsAdmin' %}">
            <i class="fa fa-solid fa-credit-card"></i>
            <span class="nav-link-text">Randevu Ayarları</span>
          </a>
        </li> -->

        


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Video İzlenmeleri">
          <a class="nav-link" href="{% url 'listCoursesStat' %}">
            <i class="fa-solid fa-certificate"></i>
            <span class="nav-link-text">Sertifika İşlemleri</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Blog Ekle">
          <a class="nav-link" href="{% url 'blogListAdmin' %}">
            <i class="fa-solid fa-bookmark"></i>
            <span class="nav-link-text"> Blog Ekle</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bülten Mailleri">
          <a class="nav-link" href="{% url 'listFooterMailAdmin' %}">
            <i class="fa-solid fa-envelope"></i>
            <span class="nav-link-text"> Bülten Mailleri</span>
          </a>
        </li>
       
		<!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookmarks">
          <a class="nav-link" href="bookmarks.html">
            <i class="fa fa-fw fa-heart"></i>
            <span class="nav-link-text">Bookmarks</span>
          </a>
        </li> -->
		<!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
          <a class="nav-link" href="add-listing.html">
            <i class="fa fa-fw fa-plus-circle"></i>
            <span class="nav-link-text">Add listing</span>
          </a>
        </li> -->




        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kullanıcı">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProfilesasd" data-parent="#exampleAccordion">
            <i class="fa-solid fa-user"></i>
            <span class="nav-link-text">Kullanıcı</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseProfilesasd">
            <li>
              <a href="{% url 'userListAdmin' %}">Kullanıcılar</a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kullanıcı Ayarları">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="">
                <i class="fa fa-fw fa-gear"></i>
                <span class="nav-link-text">Kullanıcı Ayarları</span>
              </a>
              <ul class="sidenav-second-level collapse" id="collapseComponents">
                <li>
                  <a href="{% url 'profileSettingsAdmin' %}">Profil Ayarları</a>
                </li>
                <li>
                  <a href="{% url 'changePasswordAdmin' %}">Şifre Değiştir</a>
                </li>
              </ul>
            </li>
            

			      
          </ul>
        </li>


        


        
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Site Ayarları">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProfile" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Site Ayarları</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseProfile">
            <li>
              <a href="{% url 'listSlidersAdmin' %}">Slider Ayarları</a>
            </li>
        
            <li>
              <a href="{% url 'showPagesAdmin' %}">Seo Ayarları</a>
            </li>
            
            <li>
              <a href="{% url 'socialMediaAdmin' %}">Sosyal Medya Ayarları</a>
            </li>
            <li>
              <a href="{% url 'listLogoAdmin' %}">Logo Ayarları</a>
            </li>
            <li>
              <a href="{% url 'hakkimizdaAdmin' %}">Hakkımızda</a>
            </li>
            <li>
              <a href="{% url 'aydinlatmaMetniAdmin' %}">Aydınlatma Metni</a>
            </li>
            <li>
              <a href="{% url 'gizlilikMetniAdmin' %}">Gizlilik Politikası</a>
            </li>
            <li>
              <a href="{% url 'kvkkMetniAdmin' %}">KVKK Metni</a>
            </li>
            <li>
              <a href="{% url 'mesafeliSatisAdmin' %}">Mesafeli Satış Sözleşmesi</a>
            </li>
            <li>
              <a href="{% url 'appointmentSatisAdmin' %}">Randevu Satış Sözleşmesi</a>
            </li>
       
            <!-- <li>
              <a href="user-profile.html">User profile</a>
            </li>
			      <li>
              <a href="teacher-profile.html">Teacher profile</a>
            </li> -->
          </ul>
        </li>


   

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menü Ayarları">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProfilesa" data-parent="#exampleAccordion">
            <i class="fa-solid fa-bars"></i>
            <span class="nav-link-text">Menü Ayarları</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseProfilesa">
            <li>
              <a href="{% url 'listMenu' sayfa='ust-menu' %}">Üst Menü</a>
            </li>
            <li>
              <a href="{% url 'listMenu' sayfa='alt-menu' %}">Alt Menü</a>
            </li>
            <!-- <li>
              <a href="user-profile.html">User profile</a>
            </li> -->
			      
          </ul>
        </li>



        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menü Ayarları">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProfilesauo" data-parent="#exampleAccordion">
            <i class="fa-solid fa-photo-film"></i>
            <span class="nav-link-text">Medya Ayarları</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseProfilesauo">
            <li>
              <a href="{% url 'mediaGalleryImageListAdmin' %}">Fotoğraf</a>
            </li>
            <li>
              <a href="{% url 'mediaGalleryVideoListAdmin' %}">Video</a>
            </li>
            <!-- <li>
              <a href="user-profile.html">User profile</a>
            </li> -->
			      
          </ul>
        </li>




	
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <!-- <a href="{% url 'index' %}" title="Siteye Geç" target="blank" class="btn btn-light"><i class="fa-solid fa-forward"></i></a>&emsp;&emsp; -->

        



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Yeni Mesajlar
              <span class="badge badge-pill badge-primary"></span>
            </span>
           
           {% if newMessages %}
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
           {% endif %}
             
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">Yeni Mesajlar:</h6>
           
           
           {% if newMessages %}
             {% for message in newMessages %}
             
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <strong>{{message.name}} {{message.lastName}}</strong>
                  <span class="small float-right text-muted">{{message.olusturulma_tarihi|timesince}}</span>
                  <div class="dropdown-message small">{{message.mesaj|truncatechars:159}}</div>
                </a>
               
             {% endfor %}
             {% else %}
                <a class="dropdown-item" href="#">
                  <div style="color: red;" class="dropdown-message small">Hiç mesajınız bulunmamaktadır.
                  </div>
                </a>
           {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="{% url 'showAllMessages' %}">Tüm mesajları görüntüle</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Yeni Bildirimler
              <span class="badge badge-pill badge-warning"></span>
            </span>

            
            {% if newNotifications %}
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
            {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Yeni Bİldirimler:</h6>


           
           
           {% if newNotifications %}
             {% for not in newNotifications %}
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="{% url 'listNotificationsAdmin' %}">
               <span class="text-success">
                 <strong>
                   <i class="fa fa-long-arrow-up fa-fw"></i>
                   {% if not.type == "billing" %} 
                     Yeni Satın Alım
                    {% elif not.type == "appointment" %}
                    Yeni Randevu Talebi
                    {% else %}
                    Yeni Yorum İsteği
                   {% endif %}
                     </strong>
               </span>
               <span class="small float-right text-muted">{{not.created_date}}</span>
               <div class="dropdown-message small">{{not.message|truncatechars:43}}</div>
             </a>
             {% endfor %}
            {% else %}
            <a class="dropdown-item" href="#">
              <div style="color: red;" class="dropdown-message small">Hiç bildiriminiz bulunmamaktadır.
              </div>
            </a>
           {% endif %}
           
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="{% url 'listNotificationsAdmin' %}">Tüm Bİldirimler</a>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2" action="{% url 'showAllMessages' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
              <input class="form-control search-top" type="text" name="q" placeholder="Mesajlarda Ara...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>

        <li class="nav-item">
          <a style="color: white; font-weight: bold;" class="nav-link" href="{% url 'index' %}" target="blank" title="Siteye Geç">
            <i class="fa-solid fa-forward"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Çıkış</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /Navigation-->