{% extends 'AdminTemplates/baseAdmin.html' %}


{% load static %}




{% block contentAdmin %}


<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'indexAdmin' %}">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">Şifre Değiştir</li>
        </ol>


        
      
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.tags == "error" %}
            <div class="alert alert-danger" role="alert">
                    <center><strong>{{message}}</strong></center>
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                <center><strong>{{message}}</strong></center>
            </div>
            {% endif %}

            {% endfor %}
        </ul>
        {% endif %}
        
            




        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <center><strong>{{ error|escape }}</strong></center>
        </div>
        {% endfor %}
        {% endfor %}
       

        {% endif %}




        <form action="{% url 'changePasswordAdmin' %}"  method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-12">
                    <div class="box_general padding_bottom">
                        <div class="header_box version_2">
                            <h2><i class="fa fa-lock"></i>Şifre Değiştir</h2>
                        </div>
                        <div class="form-group">
                            <label>Eski Şifre</label>
                            <input class="form-control" name="old_password" type="password">
                        </div>
                        <div class="form-group">
                            <label>Yeni Şifre</label>
                            <input class="form-control" name="new_password1" type="password">
                        </div>
                        <div class="form-group">
                            <label>Yeni Şifre Tekrar</label>
                            <input class="form-control" name="new_password2" type="password">
                        </div>
                        <ul>
                            <li>Parolanız diğer kişisel bilgileriniz ile çok benzer olamaz.</li>
                            <li>Parolanız en az 8 karakter içermek zorundadır.</li>
                            <li>Parolanız yaygın olarak kullanılan bir parola olamaz.</li>
                            <li>Parolanız tamamıyla sayısal olamaz.</li>
                        </ul>
                    </div>
                </div>
                
            </div>





            <p><button type="submit" class="btn_1 medium">Kaydet</button></p>
        </form>
    </div>
    <!-- /.container-fluid-->
</div>
<!-- /.container-wrapper-->

{% endblock contentAdmin %}



{% block scriptsAdmin %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Page level plugin JavaScript-->
<script src="{% static 'assetsAdmin/vendor/chart.js/Chart.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.selectbox-0.2.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/retina-replace.min.js' %}"></script>
<script src="{% static 'assetsAdmin/vendor/jquery.magnific-popup.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assetsAdmin/js/admin.js' %}"></script>
<script src="{% static 'assetsAdmin/js/admin-datatables.js' %}"></script>

{% endblock scriptsAdmin %}