
{% extends 'base.html' %}


{% load static %}


{% block divFeatures %}id=page{% endblock divFeatures %}










{% if page %}
	
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}
	

	
	{% block content %}
		
	
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>TURKAZE Hakkında</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_120_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Neden TURKAZE'yi seçmelisiniz</h2>
				<p>Birbirinden kaliteli TURKAZE içerikleri sizlerle.</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-diamond"></i>
						<h3>Kaliteli Eğitimciler</h3>
						<p>Kurs Süresince gözünüz arkada kalmasın.TURKAZE kalitesi ile emin ellerdesiniz.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-display2"></i>
						<h3>Kaliteli Ve Detaylı Kurs Modeli</h3>
						<p>Birbirinden kaliteli kursları satın alıp kendiniz geliştirme yolunda emin adımlarla ilerleyebilirsiniz</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-science"></i>
						<h3>İleri Seviye Derin Kurs İçerikleri</h3>
						<p>TURKAZE ile bulamayacağınız kurs neredeyse yok ..</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-rocket"></i>
						<h3>Gelişen,Zenginleşen Kurs İçerikleri</h3>
						<p>Sürekli kendimizi geliştirtiğinizi ve geliştimeye devam edeceğimizi bilmenizi isteriz. </p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-target"></i>
						<h3>Sonuç Odaklı</h3>
						<p>Her kursun sonunda kendinizdeki değişimi TURKAZE farkıyla sizde net olarak sizde farkedeceksiniz. </p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-graph1"></i>
						<h3>Başarı Odaklı</h3>
						<p>TURKAZE kursları ile kişisel gelişiminizde adım adım ilerleyip ruhsal,mental rahatlığa erişeceksiniz. </p>
					</a>
				</div>
			</div>
			<!--/row-->
		</div>
		<!-- /container -->

		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Hakkımızda</h2>
					<p>Biz kimiz? Neler Yaparız? Hikayemiz Nedir?.</p>
				</div>
				<div class="row justify-content-between">
					<!-- <div class="col-lg-5 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{{metin.image.url}}" class="img-fluid" alt="">
						</figure>
					</div> -->
					<div class="col-lg-12">
						<p>{{metin.description|safe}}</p>
						<!-- <p>Dicam diceret ut ius, no epicuri dissentiet philosophia vix. Id usu zril tacimates neglegentur. Eam id legimus torquatos cotidieque, usu decore <strong>percipitur definitiones</strong> ex, nihil utinam recusabo mel no. Dolores reprehendunt no sit, quo cu viris theophrastus. Sit unum efficiendi cu.</p> -->
						<!-- <p><em>Ali Aslan</em></p> -->
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->

		<!-- <div class="container margin_120_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Our founders</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
			</div>
			<div id="carousel" class="owl-carousel owl-theme">
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Julia Holmes<em>CEO</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/1_carousel.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Lucas Smith<em>Marketing</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/2_carousel.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Paul Stephens<em>Business strategist</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/3_carousel.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Pablo Himenez<em>Customer Service</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/4_carousel.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Andrew Stuttgart<em>Admissions</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/5_carousel.jpg" alt="">
					</a>
				</div>
			</div>
		</div> -->
		<!--/container-->
	</main>
	<!--/main-->
	
	{% endblock content %}


