{% extends 'base.html' %}


{% load static %}
{% load booking_dates %}


{% block cssFiles %}
<link href="{% static 'assets/css/responsiveAppointment.css' %}" rel="stylesheet">


{% endblock cssFiles %}




{% if page %}
	
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}






{% block divFeatures %}id=page{% endblock divFeatures %}






{% block content %}




<main>
	<section id="hero_in" class="contacts">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>Randevu Talebinde Bulunun</h1>
			</div>
		</div>
	</section>
	<div class="contact_info">
		<div class="container">
			<ul class="clearfix">
				<li>
					<i class="pe-7s-map-marker"></i>
					<h4>Adres</h4>
					<span>{{address}}</span>
				</li>
				<li>
					<i class="pe-7s-mail-open-file"></i>
					<h4>Email Adresi</h4>
					<span>{{sm.email}}<br><small> </small></span>

				</li>
				<li>
					<i class="pe-7s-phone"></i>
					<h4>Telefon</h4>
					<span>{{sm.phone_number}}<br><small></small></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="bg_color_1">
		<div class="container margin_120_95">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_eIXuIz.json"
						background="transparent" speed="1" style="width:100%;" loop autoplay></lottie-player>
				</div>
				<div class="col-lg-6">
					<h4>Randevu isteğinde bulunun</h4>
					<p>Şimdi zamanı seçin ve randevu isteiğinde bulunun.</p>
					<br>
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}

						{% if 'appointmentMessages' in message.extra_tags %}




						{% if message.tags == "error" %}


						<div class="alert alert-danger" role="alert">
							<center><strong>{{message}}</strong></center>
						</div>


						{% else %}

						<div class="alert alert-success" role="alert">
							<center><strong>{{message}}</strong></center>
						</div>

						{% endif %}

						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}
					<div id="message-contact"></div>
					<form method="post" action="{% url 'appointment' randevuId %}">
						{% csrf_token %}
						<div class="row">
							{% for field in form.visible_fields %}





							{% if forloop.last %}
							<div class="col-md-12">
								<span class="input">
									{{field}}
									<label class="input_label">
										<span class="input__label-content">{{field.label_tag}}</span>
									</label>
								</span>
							</div>
							{% elif forloop.first %}
							<div class="col-md-12">
								<span class="input">
									{{field}}
									<label class="input_label">
										<span>{{field.label_tag}}</span>
									</label>
								</span>
							</div>
							{% else %}
							<div class="col-md-6">
								<span class="input">
									{{field}}
									<label class="input_label">
										<span class="input__label-content">{{field.label_tag}}</span>
									</label>
								</span>
							</div>
							{% endif %}



							{% endfor %}

						</div>
						<p class="add_top_30"><input type="submit" 
						{% if isFree == "notNo" %}
							disabled style="background-color: gray;"
						{% endif %}
							 value="Gönder" class="btn_1 rounded"
								id="submit-contact"></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock content %}




{% block jsFiles %}


<!-- SPECIFIC SCRIPTS -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{% static 'assets/js/mapmarker.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/mapmarker_func.jquery.js' %}"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>








{% endblock jsFiles %}