{% extends 'base.html' %}


{% load static %}
{% load booking_dates %}


{% block cssFiles %}
<link href="{% static 'assets/css/responsiveAppointment.css' %}" rel="stylesheet">


{% endblock cssFiles %}




{% if page %}
	
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}






{% block divFeatures %}id=page{% endblock divFeatures %}






{% block content %}




<main>
	<section id="hero_in" class="contacts">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>Randevu Talebinde Bulunun</h1>
			</div>
		</div>
	</section>
	<!--/hero_in-->

	<div class="contact_info">
		<div class="container">
			<ul class="clearfix">
				<li>
					<i class="pe-7s-map-marker"></i>
					<h4>Adres</h4>
					<span>{{address}}</span>
				</li>
				<li>
					<i class="pe-7s-mail-open-file"></i>
					<h4>Email Adresi</h4>
					<span>{{sm.email}}<br><small> </small></span>

				</li>
				<li>
					<i class="pe-7s-phone"></i>
					<h4>Telefon</h4>
					<span>{{sm.phone_number}}<br><small></small></span>
				</li>
			</ul>
		</div>
	</div>
	<!--/contact_info-->







	<div class="bg_color_1">

		<div class="container margin_120_95">


			<center>
				<div class="col-lg-10">


					<!-- Schedule Widget -->
					<div class="card booking-schedule schedule-widget">

						<!-- Schedule Header -->
						<div class="schedule-header">
							<div class="row">
								<div class="col-md-12">
									<a href="{% url 'times' %}"></a>
									<!-- Day Slot -->
									<div class="day-slot">
										<ul>

											{% for day in days %}
											{% dates day as dayName %}

											<li>
												<span>{{day}}</span>
												<span class="slot-date">{{dayName}}</span>
											</li>
											{% endfor %}

										</ul>
									</div>
									<!-- /Day Slot -->

								</div>
							</div>
						</div>
						<!-- /Schedule Header -->

						<!-- Schedule Content -->
						<div class="schedule-cont">
							<div class="row">
								<div class="col-md-12">

									<!-- Time Slot -->
									<div class="time-slot">
										<ul class="clearfix">
											<li>


												{% if schedules1 %}
												{% for schedule in schedules1 %}
												<a {% if schedule.status == "no" %} 
												onclick="clicked(this)" style="color: green;"
												 {% else %}
													style="text-decoration: line-through; color: red;"
													 {% endif %}
													  class="timing"
													id="{{schedule.pk}}" href="#">
													<span>{{schedule.starting_time}}
														</span>
												</a>
												{% endfor %}
												{% else %}
												<center>-</center>
												{% endif %}



											</li>
											<li>
												{% if schedules2 %}
												{% for schedule in schedules2 %}
												<a {% if schedule.status == "no" %} onclick="clicked(this)"  style="color: green;"
												{% else %}
													style="text-decoration: line-through; color: red;"
													 {% endif %} 
													 class="timing"
													id="{{schedule.pk}}" href="#">
													<span>{{schedule.starting_time}}
														</span>
												</a>
												{% endfor %}
												{% else %}
												<center>-</center>
												{% endif %}
											</li>
											<li>
												{% if schedules3 %}
												{% for schedule in schedules3 %}
												<a {% if schedule.status == "no" %} onclick="clicked(this)"  style="color: green;"
												{% else %}
													style="text-decoration: line-through; color: red;" 
													{% endif %}
													 class="timing"
													id="{{schedule.pk}}" href="#">
													<span>{{schedule.starting_time}}
														</span>
												</a>
												{% endfor %}
												{% else %}
												<center>-</center>
												{% endif %}
											</li>
											<li>
												{% if schedules4 %}
												{% for schedule in schedules4 %}
												<a {% if schedule.status == "no" %} onclick="clicked(this)" style="color: green;"
												 {% else %}
													style="text-decoration: line-through; color: red;" 
													{% endif %} 
													class="timing"
													id="{{schedule.pk}}" href="#">
													<span>{{schedule.starting_time}}
														</span>
												</a>
												{% endfor %}
												{% else %}
												<center>-</center>
												{% endif %}
											</li>
											<li>
												{% if schedules5 %}
												{% for schedule in schedules5 %}
												<a {% if schedule.status == "no" %} onclick="clicked(this)"  style="color: green;"
												{% else %}
													style="text-decoration: line-through; color: red;" 
													{% endif %} 
													class="timing"
													id="{{schedule.pk}}" href="#">
													<span>{{schedule.starting_time}}
														</span>
												</a>
												{% endfor %}
												{% else %}
												<center>-</center>
												{% endif %}
											</li>
											<li>
												{% if schedules6 %}
												{% for schedule in schedules6 %}
												<a {% if schedule.status == "no" %} onclick="clicked(this)"  style="color: green;"
												{% else %}
													style="text-decoration: line-through; color: red;"
													 {% endif %} 
													 class="timing"
													id="{{schedule.pk}}" href="#">
													<span>{{schedule.starting_time}}
														</span>
												</a>
												{% endfor %}
												{% else %}
												<center>-</center>
												{% endif %}
											</li>
											<li>
												{% if schedules7 %}
												{% for schedule in schedules7 %}
												<a {% if schedule.status == "no" %} onclick="clicked(this)" style="color: green;"
												 {% else %}
													style="text-decoration: line-through; color: red;" 
													{% endif %} 
													class="timing"
													id="{{schedule.pk}}" href="#">
													<span>{{schedule.starting_time}}
														</span>
												</a>
												{% endfor %}
												{% else %}
												<center>-</center>
												{% endif %}
											</li>
										</ul>
									</div>
									<!-- /Time Slot -->

								</div>
							</div>
						</div>
						<!-- /Schedule Content -->

					</div>
					<!-- /Schedule Widget -->


				</div>
			</center>
			<hr>
			<br>


			<div class="row justify-content-between">
				<div class="col-lg-5">
					<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_eIXuIz.json"
						background="transparent" speed="1" style="width:100%;" loop autoplay></lottie-player>

				</div>
				<div class="col-lg-6">
					<h4>Randevu isteğinde bulunun</h4>


					<p>Şimdi zamanı seçin ve randevu isteiğinde bulunun.</p>

					<br>
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}


						{% if 'appointmentMessages' in message.extra_tags %}




						{% if message.tags == "error" %}


						<div class="alert alert-danger" role="alert">

							<center><strong>{{message}}</strong></center>
						</div>


						{% else %}

						<div class="alert alert-success" role="alert">

							<center><strong>{{message}}</strong></center>
						</div>

						{% endif %}

						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}

					<div id="message-contact"></div>
					<form method="post" action="{% url 'appointment' %}">
						{% csrf_token %}
						<div class="row">


							{% for field in form.visible_fields %}


							{% if forloop.last %}
							<div class="col-md-12">
								<span class="input">
									{{field}}
									<label class="input_label">
										<span class="input__label-content">{{field.label_tag}}</span>
									</label>
								</span>
							</div>
							{% else %}
							<div class="col-md-6">
								<span class="input">
									{{field}}
									<label class="input_label">
										<span class="input__label-content">{{field.label_tag}}</span>
									</label>
								</span>
							</div>
							{% endif %}



							{% endfor %}

						</div>
						<!-- /row -->

						<input type="hidden" value="" name="schedule"  id="currentIdClass">	

						<!-- <span class="input">
									<input class="input_field" type="text" id="verify_contact" name="verify_contact">
									<label class="input_label">
									<span class="input__label-content">Are you human? 3 + 1 =</span>
									</label>
							</span> -->
						<p class="add_top_30"><input type="submit" disabled value="Gönder" class="btn_1 rounded"
								id="submit-contact"></p>
					</form>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /bg_color_1 -->
</main>
<!--/main-->



{% endblock content %}




{% block jsFiles %}


<!-- COMMON SCRIPTS -->
<script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'assets/js/common_scripts.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/validate.js' %}"></script>


<!-- SPECIFIC SCRIPTS -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{% static 'assets/js/mapmarker.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/mapmarker_func.jquery.js' %}"></script>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>



<script>

var hiddenInputId=document.getElementById("currentIdClass");
var btn=document.getElementById("submit-contact")
btn.style.backgroundColor="gray";


function clicked(element){

	$("html, body").animate({ scrollTop: "628px" });
hiddenInputId.value=element.id;


var items = document.getElementsByClassName('timing selected');
for (var i = 0; i < items.length; i++) {
	if(items[i]!=element){
		items[i].className="timing";
	}
	
}


if(element.className=="timing"){
	element.className="timing selected";
	btn.disabled=false;
	btn.style="";
	
}else{
	element.className="timing";
	btn.style.backgroundColor="gray";
	btn.disabled=true;
}

}




</script>






{% endblock jsFiles %}