UYARI :
İlgili yasa gereği lütfen aşağıdaki sözleşme metnimizi 12 punto ve koyu fontta çıktı alarak okuyunuz. Ayrıca; internet sitemize üye olan ve alışveriş yapan her müşteri, tarafımızdan düzenlenmiş olan aşağıdaki satış sözleşmemizin tüm maddelerini başka bir ihbara gerek kalmadan okumuş ve kabul etmiş sayılır.
İşbu sözleşme 27.11.2014 tarih ve 29188 sayılı Resmi Gazetede yayınlanan Mesafeli Sözleşmeler Yönetmeliği gereği internet üzerinden gerçekleştirilen satışlar için sözleşme yapılması zorunluluğuna istinaden düzenlenmiş olup, maddeler halinde aşağıdaki gibidir.

MADDE 1 – TARAFLAR
SATICI
Ticari Unvanı: TURKAZE PSİKOLOG
Adresi: Dudullu OSB Mah. DES 2.Cadde No:8/107 BÜDOTEK Teknopark 34776 Ümraniye/İstanbul
Satıcı E-Posta Adresi: anonim@turkazepsikolog.com
İnternet Sitesi: www.turkazepsikolog.com

ALICI
Adı – Soyadı:
Tc Kimlik No:
Vergi Dairesi:
Vergi Numarası:
Adresi:
Telefon:
E-Posta:

MADDE 2 – TANIMLAR İşbu sözleşmenin uygulanmasında ve yorumlanmasında aşağıda yazılı terimler karşılarındaki yazılı açıklamaları ifade edeceklerdir.
BAKAN: Gümrük ve Ticaret Bakanı’nı,
BAKANLIK: Gümrük ve Ticaret Bakanlığı’nı,
KANUN: 6502 sayılı Tüketicinin Korunması Hakkında Kanun’u,
YÖNETMELİK: Mesafeli Sözleşmeler Yönetmeliği’ni (RG:27.11.2014/29188)
HİZMET: Bir ücret veya menfaat karşılığında yapılan ya da yapılması taahhüt edilen mal sağlama dışındaki her türlü tüketici işleminin konusunu,
SATICI: Psikolojik danışman, psikolog ve klinik psikologları,
ALICI: Bir mal veya hizmeti ticari veya mesleki olmayan amaçlarla edinen, kullanan veya yararlanan gerçek ya da tüzel kişiyi,
SİTE: Hizmet sağlayıcı kurumu,
SİPARİŞ VEREN: Bir mal veya hizmeti SATICI’ya ait internet sitesi üzerinden talep eden gerçek ya da tüzel kişiyi,
TARAFLAR: SATICI ve ALICI’yı,
SÖZLEŞME: SATICI ve ALICI arasında akdedilen işbu sözleşmeyi,
ÜRÜN: Alışverişe konu olan taşınır eşyayı ve elektronik ortamda kullanılmak üzere hazırlanan yazılım, ses, görüntü ve benzeri gayri maddi malları ifade eder.

MADDE 3 – KONU
İşbu Mesafeli Satış Sözleşmesi Ön Bilgilendirme Formu’nun konusu, ALICI’nın SİTE üzerinden SATICI tarafından verilecek olan online psikolojik danışmanlık hizmetinin, içeriği ve satış fiyatı belirtilen geleneksel olmayan HİZMET’in satılmasıdır.
MADDE 4- ÖDEME
Ödemeler, Iyzico uygulaması üzerinden kredi kartı/banka kartı ile peşin, Havale/EFT yoluyla yapılır.
MADDE 5- CAYMA HAKKI
ALICI, 7 ( yedi) gün içinde veya SİTE’de sunulan Hizmet’e ilişkin olarak alınan randevu saatinden 24 saat öncesine kadar herhangi bir gerekçe göstermeden ve bir ceza ödemeksizin sözleşmeden cayma hakkına sahiptir. ALICI, SİTE’de sunulan Hizmet’e ilişkin olarak alınan randevu saatine 24 saatten daha az bir süre kala ALICI tarafından iptal edilen Hizmet’in (Kaza, hastalık, vefat, doğal afet vb. acil durumlar haricinde) ücretini ödemekle yükümlüdür. ALICI, SATICI’dan Hizmet almayı talep ettiğinden, sözleşmenin konusu hizmet sağlamaktadır. Cayma hakkı, sözleşmenin kurulduğu tarihte başlar.
SATICI, cayma hakkı konusunda tüketicinin bilgilendirildiğini ispat etmekle yükümlüdür.ALICI, cayma hakkında gerektiği şekilde bilgilendirilmezse cayma hakkını 7 (yedi) günlük süreye bağlı değildir.Bu süre her türlü cayma süresinin bittiği tarihten itibaren bir yıl sonra sona erer.
ALICI’nın cayma hakkının kullanma iradesini içeren bildirimin cayma hakkı süresi dolmadan, yazılı olarak SATICI’ya yöneltilmesi gerekmektedir. SİTE üzerinden ALICI’lara cayma hakkı sunulması durumunda , SATICI ALICI’ların iletmiş olduğu cayma taleplerinin kendilerine ulaştığına dair teyit bilgisini derhal ALICI’ya iletecektir.
Cayma hakkı süresi sona ermeden önce, ALICI’nın onayı ile ifasına başlatan HİZMET’lerde ve elektronik ortamda anında ifa edilen HİZMET’lerde cayma hakkı kullanılmaz.
ALICI, SİTE üzerinden randevu talebinde bulunup, istediği gün ve saatte herhangi bir uzmandan randevu alabilmektedir.ALICI, bu şekilde randevu almış olup, karalaştırılan gün ve saatte danışman ile görüşmeye katılmak istemezse, terapi saatinden 24 saat öncesine kadar sözleşmeden cayabilir ya da randevuyu değiştirebilir. Ancak anlık alınan randevuda sunulan hizmetlerde ALICI’lar cayma hakkını kullanamazlar. Alınan anlık randevularda alınan seans ücreti hiçbir saatte iade edilmez. ALICI’nın gelecek tarihli almış olduğu randevularda ise en fazla iki defa seansı iptal etme hakkı vardır. İki defa seans iptal eden danışan tekrardan aynı profil ve bilgiler üzerinden seans iptal edemez. Aynı şekilde danışan aynı profil üzerinden en fazla üç defa seans iptal etme hakkına sahiptir. Seans açığa alma koşullarında 24 saat öncesinde kadar sözleşmeden cayabilir. Dördüncü kez oturumu açığa almak istediğinde bu talebi kabul edilmez.
Söz konusu HİZMET’le ilgili tüm yükümlülük ve sorumluluk SATICI’ya aittir. SİTE’nin hiçbir şekilde sorumluluğu bulunmamaktadır. SATICI, sözleşme konusu HİZMET’in internet sitesi üzerinden belirli koşullarla sunulmasından sorumludur. ALICI, talep ve şikayetlerini site yönetimine iletebilir.
Madde- 6 GENEL HÜKÜMLER
İşbu Ön Bilgilendirme Formu, SATICI’nın SİTE üzerindeki Hizmet’lerine yönelik sunduğu her çeşit bilgi/reklam/açıklama ile bir bütün olup ALICI ve SATICI arasında yapılan Mesafeli Satış Sözleşmesi’nin ayrılmaz bir parçasıdır. ALICI, Ön Bilgilendirme Formu ve SATICI ile akdedeceği Mesafeli Satış Sözleşmesi’ndeki Hizmet’e ilişkin bilgiler nedeniyle her türlü talebini tüketici mevzuatı kapsamında SATICI’ya yöneltmesi gerektiğini kabul eder.
ALICI ve SATICI, Tüketicinin Korunması Hakkında Kanun ve Elektronik Ticaretin Düzenlenmesi Hakkında Kanun kapsamında SİTE’nin mesafeli sözleşme kurulmasına aracılık eden Aracı Hizmet Sağlayıcı sıfatına haiz olduğunu, SATICI ve ALICI tarafından sağlanan içerikleri kontrol etmekle, bu içerik veya içeriğe konu Hizmet’le ilgili hukuka aykırı bir faaliyetin ya da durumun söz konusu olup olmadığını araştırmakla yükümlü ve sorumlu olmadığını kabul, beyan ve taahhüt ederler.
Taraflar, Ön Bilgilendirme Formu ve Mesafeli Satış Sözleşmesi’ne konu Hizmet’in sunulmasından kaynaklanan tüm sorumluluğun SATICI’ya ait olduğunu kabul, beyan ve taahhüt ederler. ALICI, SATICI’nın satışa sunduğu Hizmet’lere ilişkin bedellerin SATICI nam ve hesabına tahsil edilmesi konusunda münhasır olarak SİTE’nin yetkilendirdiğini kabul etmektedir. Bu yetkilendirmenin SATICI tarafından iptal edilmesi halinde SİTE, Danışmanlık Sözleşmesi’ni ya da Terapi Merkezi Sözleşmesi’ni feshetme ve SATICI’nın SİTE üyeliğini iptal etme hakkına sahiptir. ALICI, Hizmet’lere ilişkin ödemeyi SİTE’ye yapmakla ödeme yükümlülüğünü ifa etmiş olacaktır.
ALICI ve SATICI, işbu Ön Bilgilendirme Formu ve Mesafeli Satış Sözleşmesi’nden kaynaklı doğabilecek ihtilaflardan dolayı SİTE’nin, idare ve yargı kararları dahil olmak üzere, herhangi bir zarara uğraması halinde onaylamış oldukları Üyelik Sözleşmesi, Danışmanlık Sözleşmesi, Terapi Merkezi Sözleşmesi ve SİTE’deki diğer kurallar kapsamında, SİTE’nin söz konusu zararları kendilerine rücu etme hakkı olduğunu kabul ederler.
Hizmet ile ilgili ALICI’nın herhangi bir şekilde zarara uğraması halinde, ALICI bu durumdan SATICI’nın sorumlu olacağını ve SITE’nin herhangi bir sorumluluğu olmayacağını kabul, beyan ve taahhüt eder.
SATICI, SİTE üzerinden yapılacak satışlar ile ilgili ALICI’nın yapacağı ödemelerin, kendi adına SİTE tarafından tahsil edileceğini kabul, beyan ve taahhüt eder.
Ön Bilgilendirme Formu’na konu Hizmet’ten kaynaklanan ihtilaflarda, Gümrük ve Ticaret Bakanlığınca ilan edilen değere kadar ALICI’nın yerleşim yerindeki Tüketici Hakem Heyetleri ile ALICI’nın yerleşim yerindeki Tüketici Mahkemeleri yetkilidir.
İşbu Ön Bilgilendirme Formu, elektronik ortamda ALICI tarafından okunarak kabul edilmiştir.