<div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Your Review <small><a rel="nofollow" id="cancel-comment-reply-link"
                href="/demosd/udema/?course=eam-id-legimus-torquatos#respond" style="display:none;">Cancel
                reply</a></small></h3>
    <form action="https://shtheme.com/demosd/udema/wp-comments-post.php" method="post" id=""
        class="comments-form reviews" novalidate>
        <textarea name="comment" aria-required='true' cols="30" rows="8" class="form-control"
            placeholder="Comments"></textarea>
        <div class="form-group" style="margin-top:1rem;"><input type="text" class="form-control  mb-20"
                placeholder="Name" name="author"></div>
        <p class="form-submit"><input name="submit" type="submit" id="submit" class="review_btn btn submit"
                value="Submit" /> <input type='hidden' name='comment_post_ID' value='827' id='comment_post_ID' />
            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
        </p>
        <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce"
                value="545f713d13" /></p>
        <p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="70" /></p>
    </form>
</div>