{% extends 'base.html' %}


{% load static %}



{% block divFeatures %} id="page" {% endblock divFeatures %}


{% block cssFiles %}
<!-- SPECIFIC CSS -->
<link href="{% static 'assets/css/blog.css' %}" rel="stylesheet">

{% endblock cssFiles %}





{% if page %}
	
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}





{% block content %}


<main>
	<section id="hero_in" class="general">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>Blog Yazıları</h1>
			</div>
		</div>
	</section>
	<div class="container margin_60_35">
		<div class="row" id="rowId">
			<div class="col-lg-9">
				{% if blogs %}
				{% for blog in blogs %}
				<article class="blog wow fadeIn">
					<div class="row no-gutters">
						<div class="col-lg-7">
							<figure>
								<a href="{% url 'blogDetail' blog.slug %}"><img src="{{blog.image.url}}" alt="">
									<div class="preview"><span>Daha Fazla Oku</span></div>
								</a>
							</figure>
						</div>
						<div class="col-lg-5">
							<div class="post_info">
								<small>{{blog.created_date.date}}</small>
								<h3><a href="{% url 'blogDetail' blog.slug %}">{{blog.title|safe}}</a></h3>
								<p>{{blog.description|safe|truncatechars:140}}</p>
								<ul>
									<li>
										<div class="thumb"><img src="{{blog.author.image.url}}" alt=""></div>
										{{blog.author.get_full_name}}
									</li>
									<li><i class="icon_comment_alt"></i> {{blog.totalCommentCount}}</li>
								</ul>
							</div>
						</div>
					</div>
				</article>
				{% endfor %}
				{% else %}
					
					{% if searchKey %}
						<center><p style="color: red; font-weight: bold;">Aradığınız kriterlere uygun blog bulunamadı.</p></center>
					{% else %}
					<center><p style="color: red; font-weight: bold;">Henüz ekli bir blog yazısı bulunamadı.</p></center>
					{% endif %}
						

				{% endif %}

			</div>
			<!-- aşağıdaki strong tagı normalde yoktu canlıda kendisi ekliyordu lokalde ekleyip javascriptten kaldırdım -->
			<strong>    
				<aside class="col-lg-3">
					<div class="widget">
						<form action="{% url 'allBlogs' %}" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" name="keys" id="search" class="form-control" placeholder="Ara...">
							</div>
							<button type="submit" id="submit" class="btn_1 rounded">Blog Ara</button>
						</form>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Son Yazılar</h4>
						</div>
						<ul class="comments-list">
							{% if lastThreeBlogs %}
								{% for blog in lastThreeBlogs %}
									<li>
										<div class="alignleft">
											<a href="{% url 'blogDetail' blog.slug %}"><img src="{{blog.image.url}}"
													alt=""></a>
										</div>
										<small>{{blog.created_date.date}}</small>
										<h3><a href="{% url 'blogDetail' blog.slug %}" title="">{{blog.title|safe|truncatechars:30}}</a></h3>
									</li>
								{% endfor %}
									
							{% endif %}
						</ul>
					</div>
					<div class="widget">
						<div class="widget-title">
							<h4>Blog Kategorileri</h4>
						</div>
						<ul class="cats">
							{% if categories %}
								{% for cat in categories %}
									<li><a href="{% url 'allBlogs' %}?kategori={{cat.name}}">{{cat.name}} <span>({{cat.getBlogCount}})</span></a></li>
								{% endfor %}
							{% endif %}
						</ul>
					</div>
				</aside>
			</strong>
		</div>
	</div>
</main>

{% endblock content %}


{% block jsFiles %}


<script>


	var content=$("#rowId").html();
	content=content.replace(/<\/?strong>/g, "");
	$("#rowId").html(content);
	


</script>


{% endblock jsFiles %}