{% extends 'base.html' %}


{% load static %}


{% block divFeatures %}id=page{% endblock divFeatures %}




	

{% block content %}
	
	

	
	<main>
		<section id="hero_in" class="contacts">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>TURKAZE İle İletişime Geçin</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="contact_info">
			<div class="container">
				<ul class="clearfix">
					<li>
						<i class="pe-7s-map-marker"></i>
						<h4>Adres</h4>
						<span>İzmir/Buca ADATAPE Mahallesi </span>
					</li>
					<li>
						<i class="pe-7s-mail-open-file"></i>
						<h4>Email Adresi</h4>
						<span>admission@turkaze.com - info@turkaze.com<br><small> Pazartesinden Cumaya 7/24 Destek</small></span>

					</li>
					<li>
						<i class="pe-7s-phone"></i>
						<h4>Telefon</h4>
						<span>05355355353<br><small> Pazartesinden Cumaya 7/24 Destek</small></span>
					</li>
				</ul>
			</div>
		</div>
		<!--/contact_info-->
	

		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="map_contact">
						</div>
						<!-- /map -->
					</div>
					<div class="col-lg-6">
						<h4>Mesaj Gönder</h4>
						
					
							
						<p>Aklınıza takılan ne varsa bizimle iletişime geçebilirsiniz.</p>
						<div id="message-contact"></div>
						<form method="post" action="{% url 'contact' %}" id="contactform" autocomplete="off">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<span class="input">
										{{form.visible_fields.0}}
										<label class="input_label">
											<span class="input__label-content">İsim</span>
										</label>
									</span>
								</div>
								<div class="col-md-6">
									<span class="input">
										{{form.visible_fields.1}}
										<label class="input_label">
											<span class="input__label-content">Soyisim</span>
										</label>
									</span>
								</div>
							</div>
							<!-- /row -->
							<div class="row">
								<div class="col-md-6">
									<span class="input">
										{{form.visible_fields.2}}
										<label class="input_label">
											<span class="input__label-content">Email</span>
										</label>
									</span>
								</div>
								<div class="col-md-6">
									<span class="input">
										{{form.visible_fields.3}}
										<label class="input_label">
											<span class="input__label-content">Telefon</span>
										</label>
									</span>
								</div>
							</div>
							<!-- /row -->
							<span class="input">
								{{form.visible_fields.4}}
									<label class="input_label">
										<span class="input__label-content">Mesajınız</span>
									</label>
							</span>
							<!-- <span class="input">
									<input class="input_field" type="text" id="verify_contact" name="verify_contact">
									<label class="input_label">
									<span class="input__label-content">Are you human? 3 + 1 =</span>
									</label>
							</span> -->
							<p class="add_top_30"><input type="submit" value="Gönder" class="btn_1 rounded" id="submit-contact"></p>
						</form>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
	</main>
	<!--/main-->
	
	{% endblock content %}



	
	{% block jsFiles %}


<!-- COMMON SCRIPTS -->
<script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'assets/js/common_scripts.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/validate.js' %}"></script>


	<!-- SPECIFIC SCRIPTS -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="{% static 'assets/js/mapmarker.jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/mapmarker_func.jquery.js' %}"></script>

{% endblock jsFiles %}

