{% extends 'base.html' %}


{% load static %}

{% load is_favourite %}



{% if course %}
	
	{% block title %}
	<title>{{course.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{course.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{course.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}



{% block divFeatures %} id="page" class="theia-exception" {% endblock divFeatures %}


{% block cssFiles %}
<link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
<link href="{% static 'assets/css/blog.css' %}" rel="stylesheet">
{% endblock cssFiles %}
	

{% block content %}




<main>
	<section id="hero_in" class="courses">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>Online Kurs Detayı</h1>
			</div>
		</div>
	</section>
	<!--/hero_in-->

	<div class="bg_color_1">
		<nav class="secondary_nav sticky_horizontal">
			<div class="container">
				<ul class="clearfix">
					<li><a href="#description" class="active">Açıklama</a></li>
					<li><a href="#lessons">Videolar</a></li>
					<li><a href="#reviews">Yorumlar</a></li>
				</ul>
			</div>
		</nav>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-8">

					<section id="description">

						<div class="box_highlight">
							<ul class="additional_info">
								<li><i class="pe-7s-timer"></i>Kurs Süresi<strong>{{course.getTotalVideoDuration}}</strong></li>
								<li><i class="pe-7s-date"></i>Kurs Tarihi<strong>{{course.created_date.date}}</strong></li>
								<li><i class="pe-7s-wallet"></i>Fiyatı<strong>{{course.price}} ₺</strong></li>
							</ul>
						</div>


						<h2>{{course.title}}</h2>
						<p>{{course.description|safe}}</p>
						<h5>Neler Öğreneceksiniz</h5>
						<ul class="list_ok">

							{% if learns %}

							{% for wwyl in learns %}
							<li>
								<h6>{{wwyl.title}}</h6>
								<p>{{wwyl.description}}</p>
							</li>
							{% endfor %}
							{% else %}
							-

							{% endif %}

						</ul>
						<hr>
						<p>{{course.bottomDescription|safe}}</p>
						<!-- <div class="row">
								<div class="col-lg-6">
									<ul class="bullets">
										<li>Dolorem mediocritatem</li>
										<li>Mea appareat</li>
										<li>Prima causae</li>
										<li>Singulis indoctum</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="bullets">
										<li>Timeam inimicus</li>
										<li>Oportere democritum</li>
										<li>Cetero inermis</li>
										<li>Pertinacia eum</li>
									</ul>
								</div>
							</div> -->
						<!-- /row -->
					</section>
					<!-- /section -->


					{% comment %}
				
					
					{% if completed %}
						<div class="alert alert-success" hidden id="completeMessage" role="alert">
							Tebrikler.Bu kursu başarıyla tamamladınız.Sertifikamız yöneticimiz tarafından size mail yoluyla gönderilecektir.
						  </div>
						  <br>
					{% endif %}
						
					
					<section id="lessons">
	
					

						<div class="intro_title">
							<h2>Videolar</h2>
							<ul>
								<li>{{course.countOfVideos}} video</li>
								<li>{{course.getTotalVideoDuration}}</li>
							</ul>
						</div>

					


						<div id="accordion_lessons" role="tablist" class="add_bottom_45">

							
							{% if sessions %}

							{% for session in sessions %}
							<div class="card">
								<div class="card-header" role="tab" id="headingOne{{session.pk}}">
									<h5 class="mb-0">
										<a data-toggle="collapse" href="#collapseOne{{session.pk}}" 
										{% if forloop.first %}
											 aria-expanded="true"
										{% else %} 
										aria-expanded="false"
										 {% endif %}
											aria-controls="collapseOne{{session.pk}}">
											{% if forloop.first %}
											<i class="indicator ti-minus"></i>
											{% else %}
											<i class="indicator ti-plus"></i>
											{% endif %}

											{{session.title}}</a>
									</h5>
								</div>

							

								<div id="collapseOne{{session.pk}}" 
								{% if forloop.first %}
								 class="collapse show"
								  {% else %}
									 class="collapse"
									  {% endif %} 
									  role="tabpanel"
									aria-labelledby="headingOne{{session.pk}}" data-parent="#accordion_lessons">
									<div class="card-body">
										<div class="list_lessons">
											<ul>
												{% if session.getVideos %}

												{% for video in session.getVideos %}
												
												{% if video.video_type == "herkes" %}
												<li ><a id="{{video.pk}}" onclick="runPLayerApi('{{video.pk}}')" style="color: green; font-weight: bold;" href="{{video.url}}"
													class="video">{{video.title}}</a><span>{{video.getMinute}}:{{video.getSeconds}}</span></li>
												{% else %}
													
													{% if has_bougth == "true" %}
													<li ><a id="{{video.pk}}" onclick="runPLayerApi('{{video.pk}}')" style="color: green; font-weight: bold;" href="{{video.url}}"
														class="video">{{video.title}}</a><span>{{video.getMinute}}:{{video.getSeconds}}</span></li>
													 {% else %}
													 <li><a href="#" style="pointer-events: none; cursor: default;"
														class="video"><i class="fa-solid fa-lock"></i> {{video.title}}</a><span>{{video.getMinute}}:{{video.getSeconds}}</span></li>
													{% endif %}
														
												
												{% endif %}

												{% endfor %}

												{% endif %}
											</ul>
										</div>
									</div>
								</div>



							</div>
							{% endfor %}
							{% else %}
							<br>
							<center>
								<p style="color: red;">Henüz bu kursa ekli bir bölüm veya video bulunmamaktadır.</p>
							</center>

							{% endif %}
							


						</div>
						<!-- /accordion -->
					</section>
					{% endcomment %}
						
					<!-- /section -->



			


					
					{% if has_bougth == "true" %}
					<center>
						<div class="alert alert-danger" role="alert">
							Kursu satın altınız.Lütfen sağ alttaki whatsapp iletişim kısmından yöneticimiz ile iletişime geçiniz.Yöneticimiz satın alımınızı onayladığı takdirde tarafınıza zoom linki iletilecektir.
						  </div>
					</center>
					<br><br>
					{% endif %}
						

					
					



					<section id="reviews">
						<h2>Yorumlar</h2>
						<div class="reviews-container">
							<div class="row">
								<div class="col-lg-3">
									<div id="review_summary">
										<strong>5.0</strong>
										<div class="rating">
											<i class="icon_star voted"></i><i class="icon_star voted"></i><i
												class="icon_star voted"></i><i class="icon_star voted"></i><i
												class="icon_star voted"></i>
										</div>
										<small>Ortalama 5 yıldız</small>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="row">
										<div class="col-lg-10 col-9">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width: 100%"
													aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-lg-2 col-3"><small><strong>5 yıldız</strong></small></div>
									</div>
									<!-- /row -->
									<div class="row">
										<div class="col-lg-10 col-9">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width: 0"
													aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-lg-2 col-3"><small><strong>4 yıldız</strong></small></div>
									</div>
									<!-- /row -->
									<div class="row">
										<div class="col-lg-10 col-9">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width: 0"
													aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-lg-2 col-3"><small><strong>3 yıldız</strong></small></div>
									</div>
									<!-- /row -->
									<div class="row">
										<div class="col-lg-10 col-9">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width: 0"
													aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-lg-2 col-3"><small><strong>2 yıldız</strong></small></div>
									</div>
									<!-- /row -->
									<div class="row">
										<div class="col-lg-10 col-9">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width: 0"
													aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-lg-2 col-3"><small><strong>1 yıldız</strong></small></div>
									</div>
									<!-- /row -->
								</div>
							</div>
							<!-- /row -->
						</div>

						<hr>

					
						



						{% if messages %}
    <ul class="messages">
        {% for message in messages %}

        {% if message.tags == "error" %}
        <div class="alert alert-danger" role="alert">

            <center><strong>{{message}}</strong></center>
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">

            <center><strong>{{message}}</strong></center>
        </div>
        {% endif %}



        {% endfor %}
    </ul>
    {% endif %}



{% if request.user.is_authenticated %}
		

{% if commentStatus == "writtenBefore" %}
	<center><p style="color: red; font-weight: bold;">Daha önceden yorum yaptığınız için başka yorum yapamazsınız</p></center>
	<br>
{% elif commentStatus == "pendingComment" %}
	<center><p style="color: red; font-weight: bold;">Bekleyen bir yorum isteğiniz olduğu için başka yorum yapamazsınız</p></center>
	<br>
{% else %}
						<div id="respond" class="comment-respond">
							<h3 id="reply-title" class="comment-reply-title">Yorum Yaz <small><a rel="nofollow" id="cancel-comment-reply-link"
										href="/demosd/udema/?course=eam-id-legimus-torquatos#respond" style="display:none;">Cancel
										reply</a></small></h3>
							<form action="{% url 'courseDetail' course.slug %}" method="post" id=""
								class="comments-form reviews" novalidate>
								{% csrf_token %}
								<textarea name="comment" aria-required='true' cols="30" rows="8" class="form-control"
									placeholder="Yorum Yaz"></textarea>
								<br>
								<p class="form-submit"><input name="submit" type="submit" id="submit" class="review_btn btn submit"
										value="Yorumu Kaydet" /> <input type='hidden' name='star' value='827' id='comment_post_ID' />
									
								</p>
								
							
							</form>
						</div>
				
{% endif %}
{% else %}
<center><p style="color: red; font-weight: bold;">Yorum yapmak için giriş yapmanız gerekmektedir.</p></center>
{% endif %}



<div style="width: 100%;" id="comments">
	<h5>Yorumlar</h5>
	<ul>

		{% if comments %}

		{% for comment in comments %}



		<li>
			<div class="avatar">
				<a href="#"><img src="{{comment.comment_user.image.url}}" alt="">
				</a>
			</div>
			<div class="comment_right clearfix">
				<div class="comment_info">
					<a
						href="#">{{comment.comment_user.get_full_name}}</a><span>|</span>{{comment.created_date.date}}
				</div>
				<p>
					{{comment.comment}}
				</p>
			</div>

			{% if comment.children %}

			{% for children in comment.children %}
			<ul class="replied-to">
				<li>
					<div class="avatar">
						<a href="#"><img src="{{children.comment_user.image.url}}" alt="">
						</a>
					</div>
					<div class="comment_right clearfix">
						<div class="comment_info">
							<a
								href="#">{{children.comment_user.get_full_name}}</a><span>|</span>{{children.created_date.date}}
						</div>
						<p>
							{{children.comment}}
						</p>

					</div>

				</li>
			</ul>
			{% endfor %}

			{% endif %}

		</li>
		{% endfor %}
		{% else %}
		<center><p>Henüz bu kursa yorum yapılmamış.</p></center>

		{% endif %}



	</ul>
</div>

				







						
						<!-- /review-container -->
					</section>
					<!-- /section -->
				</div>
				<!-- /col -->

				<aside class="col-lg-4" id="sidebar">
					<div class="box_detail">
						<figure>
							<a href="{{course.sessions.all.first.videos.all.first.url}}" class="video"><i
									class="arrow_triangle-right"></i><img
									src="{{course.image.url}}" alt=""
									class="img-fluid"><span>Önizlemeyi Oynat</span></a>
						</figure>
						<div class="price">
							{{course.price}} ₺
							<!-- <span class="original_price"><em>$49</em>60% discount price</span> -->
						</div>
						{% isFavourite request course.pk as favouritea %}

						
						{% if has_bougth == "true" %}
						<a href="#" class="btn_1 full-width">Satın Aldınız</a>
						{% elif has_bougth == "false" %}	
						<a href="{% url 'paymentPage' course.slug %}" class="btn_1 full-width">Satın Al</a>
						{% endif %}
							
						
						<a href="{% url 'AddFavouritesCoursesGridList' course.pk %}" 
						{% if favouritea %}
							style="color: green;"
						{% endif %}
							 class="btn_1 full-width outline"><i 
							
							 class="icon_heart"></i> Favorilerine Ekle</a>
						<div id="list_feat">
							<h3 style="color: red;">Dikkat Edilmesi Gerekenler</h3>
							<ul>
								<li style="font-weight: bold; color: black;">* Görüşmelerimiz şimdilik zoom üzerinden sağlanmaktadır.</li><br>
								<li style="font-weight: bold; color: black;">* Cihazınıza zoom yüklemeniz tavsiye edilir.<a href="https://zoom.us/download">Buradan indirebilirsiniz <i class="fas fa-video fa-1,5x"></i></a></li><br>
								<li style="font-weight: bold; color: black;">* Eğitimi satın aldıktan sonra whatsapptan iletişime geçmeniz gerekmektedir.</li>
								<!-- <li><i class="icon_archive_alt"></i>Lesson archive</li>
								<li><i class="icon_mobile"></i>Mobile support</li>
								<li><i class="icon_chat_alt"></i>Tutor chat</li>
								<li><i class="icon_document_alt"></i>Course certificate</li> -->
							</ul>
						</div>
					</div>
				</aside>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /bg_color_1 -->
</main>
<!--/main-->

{% endblock content %}




{% block jsFiles %}


<!-- COMMON SCRIPTS -->
<script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'assets/js/common_scripts.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/validate.js' %}"></script>

<script src="https://player.vimeo.com/api/player.js"></script>
<script>


var completed="{{completed}}";
if (completed=="true"){
	document.getElementById("completeMessage").hidden=false;
}



var mylist1 = JSON.parse("{{videoIds}}");
// var mylistUrl = JSON.parse(document.getElementById('videoInfo').textContent);
var mylistId=[];
for (let i = 0; i < mylist1.length; i++){
	mylistId.push(mylist1[i]);
}
// for (let i = 0; i < mylistUrl.length; i++){
// 	console.log(mylistUrl[i]);
// }


var currentIndex=0;

function runPLayerApi(id){

	currentIndex=mylistId.indexOf(parseInt(id));

	consolelog();
		setTimeout(function() {
			getElement();
		}, 500);

	
	//youtubeDiv.allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";

	function consolelog(){
		console.log(id);
	}
	function getElement(){

		$(document).ready(function(){

			var iframe = $('#ourplayer');
			var player = new Vimeo.Player(iframe);
			player.on('play', function() {
				console.log('Played the video');
			});

			player.on('ended', function() {
			//	 alert("finished");
				callAjax(String(mylistId[currentIndex]),"{{course.pk}}");
				var btn=document.getElementsByClassName("mfp-close")[0];
				btn.click();
				currentIndex++;
				document.getElementById(String(mylistId[currentIndex])).click();
				
			});


			var timeWatched = 0;


			player.on("timeupdate", function(data) {
				if (data.seconds - 1 < timeWatched && data.seconds > timeWatched) {
					timeWatched = data.seconds;
							/*This prevents seeking. The reason this is needed
						is because when the user tries to seek, a time update is called which results in the
						watchedTime becoming the same as the seeked time before it goes into the function 'seeked' (below) resulting
						in both values being the same. We need to get the most recent time update before the seek.
						(data.seconds - 1 < currentTime) basically if you seek, this will return false and the current time wont get updated
						(data.seconds > currentTime) if they seek backwards then dont update current time so they can seek back to where they were before*/

				}
			});

			player.on("seeked", function(data) {
			if (timeWatched < data.seconds) {
				player.setCurrentTime(timeWatched);
			}
			});








		});
			




}



}


function callAjax(videoId,courseId){
	$.ajax({
		type: "POST",
		url: "/izlenenlere-ekle",
		data: {
			'videoId': videoId,
			'courseId': courseId,
		},
		success: function (data) {
			console.log("success");
			if(data["complete"]=="success"){
				document.getElementById("completeMessage").hidden=false;
			}
		}
	});
}








</script>





{% endblock jsFiles %}	