{% extends 'base.html' %}


{% load static %}




{% if page %}
	
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}




{% block divFeatures %}id=page{% endblock divFeatures %}




{% block content %}



<main>
    <section id="hero_in" class="courses">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Favori Kurslarınız</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->
    <div class="filters_listing sticky_horizontal">
        <div class="container">
            <ul class="clearfix">
               
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /filters -->



    <div class="container margin_60_35">

        {% if messages %}
    <ul class="messages">
        {% for message in messages %}

        {% if message.tags == "error" %}
        <div class="alert alert-danger" role="alert">

            <center><strong>{{message}}</strong></center>
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">

            <center><strong>{{message}}</strong></center>
        </div>
        {% endif %}

        {% endfor %}
    </ul>
    {% endif %}
        <div class="row">
            {% if courses %}
                {% for course in courses %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="box_grid wow">
                        <figure class="block-reveal">
                            <div class="block-horizzontal"></div>
                            <a style="background-color: green;" href="{% url 'AddFavouritesCoursesGridList' course.course.pk %}" class="wish_bt"></a>
                            <a href="{% url 'courseDetail' course.course.slug %}"><img src="{{course.course.image.url}}" class="img-fluid"
                                    alt=""></a>
                            <a href="{% url 'courseDetail' course.course.slug %}"> <div class="preview"><span>Kursu Görüntüle</span></div></a>
                        </figure>
                        <div class="wrapper">
                            <small>{{course.course.category.name}}</small>
                            <h3>{{course.course.title}}</h3>
                            <p>{{course.course.description|safe|truncatechars:85}}</p>
                            <div class="rating">
                                <i class="icon_star voted"></i>
                                <i class="icon_star voted"></i>
                                <i class="icon_star voted"></i>
                                <i class="icon_star voted"></i>
                                <i class="icon_star voted"></i>
    
                                <small>({{course.course.getStarsWithCommentCount}})</small>
                            </div>
                        </div>
                        <ul>
                            <li><i class="icon_clock_alt"></i> {{course.course.zoomDuration}} saat</li>
                            <li><i class="fa-solid fa-comment"></i> {{course.course.countOfAllComments}}</li>
                            <li><a href="{% url 'courseDetail' course.course.slug %}">İncele</a></li>
                        </ul>
                    </div>
                </div>
    
                {% endfor %}
            {% endif %}
        </div>
        {% if not courses %}
        <center>
            <div>
                <p style="color: red;">Henüz favorilerinize eklediğiniz kurs bulunmamaktadır.</p>
            </div>
        </center>
        {% endif %}
    </div>
    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <i class="pe-7s-help2"></i>
                        <h4>Yardıma mı ihtiyazcınız var? İletişime Geçin</h4>
                        <p>İletişim sayfanızdan yönetimizle iletişime geçebilirsiniz</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <i class="pe-7s-wallet"></i>
                        <h4>Ödeme ve Geri Dönüşler</h4>
                        <p>Ödeme hizmetleriniz güvenli bir şekilde yapılmaktadır.</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <i class="pe-7s-note2"></i>
                        <h4>Kalite Standartları</h4>
                        <p>Kalite standartlarından ödün vermeyen zengin içerikler</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock content %}




