{% extends 'base.html' %}


{% load static %}




{% if page %}
	
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}




{% block divFeatures %}id=page{% endblock divFeatures %}



{% block content %}
    
    
	
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Medya Galeri</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_60_35">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Fotoğraflarımız ...</h2>
				<p>Bize ait fotoğraflarımız aşağıda listelenmiştir.</p>
			</div>

	
			
		 <div class="grid">
				<ul class="magnific-gallery">
                    {% for image in images %}
                        
					<li>
						<figure>
							<img src="{{image.image.url}}" alt="">
							<figcaption>
								<div class="caption-content">
									<a 
									{% if image.image2 %}
									href="{{image.image2.url}}"
									{% else %}
										href="{{image.image.url}}"
									{% endif %}
										 title="{{image.title}}" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Görüntüle</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>

                    {% endfor %}
					
				</ul>
			</div> 
	







		</div>
		<!-- /container -->
		
		<div class="bg_color_1">
			<div class="container margin_60_35">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Videolarımız ...</h2>
					<p>Bize ait videolarımız aşağıda listelenmiştir.</p>
				</div>



				<div class="grid">
					<ul class="magnific-gallery">

						
						{% for video in videos %}
						
							<li>
								<figure>
									<img src="{{video.image.url}}" alt="">
									<figcaption>
									<div class="caption-content">
										<a href="{{video.url}}" class="video" title="{{video.title}}">
											<i class="pe-7s-film"></i>
											<p>İzle</p>
									</a>
									</div>
									</figcaption>
								</figure>
							</li>
						
						{% endfor %}
							
				
					
					</ul>
				</div>
				<!-- /grid -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		
	</main>
	<!--/main-->
	

    {% endblock content %}


