
{% extends 'base.html' %}


{% load static %}



{% block divFeatures %} id="page" class="theia-exception" {% endblock divFeatures %}

	
	{% block content %}
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>{{printMetin}}</h1>
				</div>
			</div>
		</section>
		<div class="container margin_60_35">
			<div class="row">
				<div>
					<div class="box_teacher">
						<div class="indent_title_in">
							<i class="pe-7s-user"></i>
							<h3>{{printMetin}}</h3>
						</div>
						<div class="wrapper_indent">
							<p>{{metin|safe}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	{% endblock content %}

	

