
{% extends 'base.html' %}


{% load static %}



{% block divFeatures %} id="page" class="theia-exception" {% endblock divFeatures %}



	
	
	{% block content %}
		
			
	
	
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>{{printMetin}}</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->
		<div class="container margin_60_35">
			<div class="row">
		
				<!--/aside -->

				<div>
					<div class="box_teacher">
						<div class="indent_title_in">
							<i class="pe-7s-user"></i>
							<h3>{{printMetin}}</h3>
							<!-- <p>Mussum ipsum cacilds, vidis litro abertis.</p> -->
						</div>
						<div class="wrapper_indent">
							<p>{{metin|safe}}</p>
						</div>
				
					</div>
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->


	{% endblock content %}

	
	
	{% block jsFiles %}
	<script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'assets/js/common_scripts.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
	<script src="{% static 'assets/validate.js' %}"></script>
	{% endblock jsFiles %}
		

