{% extends 'base.html' %}


{% load static %}


{% block cssFiles %}
<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">

{% endblock cssFiles %}



{% block divFeatures %}id=page class="theia-exception"{% endblock divFeatures %}




{% if page %}
	
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}

	
	{% block content %}
		

	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Hakkımda</h1>
				</div>
			</div>
		</section>
		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-3" id="sidebarwe">
					<div class="profile">
						<figure><img width="99%" src="{{metin.image.url}}" alt="Teacher" class="rounded-circle"></figure>
						<center>
							<a href="{% url 'times' %}" target="_blank" style="background-color: turquoise;" type="button" class="btn btn-light">Randevu Al</a>
						</center>
						<br>
						<ul class="social_teacher">
							<li><a href="{{sm.facebook}}"><i class="icon-facebook"></i></a></li>
							<li><a href="{{sm.twitter}}"><i class="icon-twitter"></i></a></li>
							<li><a href="{{sm.instagram}}"><i class="icon-instagram"></i></a></li>
							<li><a href="mailto:{{sm.email}}"><i class="icon-email"></i></a></li>
						</ul>
						<ul>
							<li>İsim <span class="float-right">{{staffUsers.first.get_full_name}}</span> </li>
							<li>Kurs Sayısı <span class="float-right">{{courseCount}}</span></li>
						</ul>
					</div>
					
				</aside>
				
				<div class="col-lg-9">
					<div class="box_teacher">
						<div class="indent_title_in">
							<i class="pe-7s-user"></i>
							<h3>Profil</h3>
						</div>
						<div class="wrapper_indent">
							<p>{{metin.description2|safe}}</p>
							<!-- <h5>Aldığım Eğitimler</h5>
							<p>Şimdiye kadar aldığım tüm eğitimler aşağıda sıralanmaktadır.</p>
							<div class="row">
								<div class="col-md-6">
									<ul class="list_3">
										<li><strong>EFT UYGULAYICI EĞİTİMİ</strong>
											<p>Hacettepe Üniversitesi</p>
										</li>
										<li><strong>KLİNİK PSİKOLOJİDE TEMEL PSİKOTERAPİ BECERİLERİ</strong>
											<p>Pedam-Kıbrıs,NS Consulting</p>
										</li>
										<li><strong>KLİNİK GÖRÜŞME BECERİLERİ</strong>
											<p>İnternational University Of MİT</p>
										</li>
                                        <li><strong>Wisc-R Zeka Testi Eğitimi</strong>
											<p>Gebze Teknik Üniversitesi</p>
										</li>
										<li><strong>AİLE,EVLİLİK VE ÇİFT DANIŞMANLIĞI</strong>
											<p>İnternational University Of MİT</p>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_3">
                                        <li><strong>AİLE DANIŞMANLIĞI</strong>
											<p>AİLE DANIŞMANLIĞI</p>
										</li>
                                        <li><strong>PSİKOTERAPİDE ERGENLERLE ÇALIŞMAK</strong>
											<p>Artemis Psikolojik veEğitim Merkezi</p>
										</li>
                                        <li><strong>ÇİFT TERAPİSİNDE ALDATMA </strong>
											<p>Artemis Psikolojik ve Eğitim Merkezi</p>
										</li>
                                        <li><strong>NARSİSTLİK(KİŞİLİK BOZUKLUĞU)</strong>
                                            <p></p>
										</li>
                                        <li><strong>DİSLEKSİ </strong>
											<p>Terapi Akademi Derneği</p>
										</li>
                                        <li><strong>EMDR </strong>
											<p>EMDR</p>
										</li>
                                        <li><strong>ÇOCUKLARDA HİPERAKTİVİTE BOZUKLUĞU VE DİKKAT EKSİKLİĞİ </strong>
											<p>Terapi Akademi Derneği</p>
										</li>
									</ul>
								</div>
							</div> -->
						</div>
						<hr class="styled_2">
						<div class="indent_title_in">
							<i class="pe-7s-display1"></i>
							<h3>Kurslarım</h3>
							<p>Burada sitemizdeki mevcut kursları görebilirsiniz.</p>
						</div>
						<div class="wrapper_indent">
							<p>Sitemizdeki mevcut kurslar aşağıda sıralanmıştır.</p>
								<center>
									<table class="table table-responsive table-striped add_bottom_30">
										<thead>
											<tr>
												<th>Kategori</th>
												<th>Kurs Adı</th>
												<th>Yıldız</th>
											</tr>
										</thead>
										<tbody>
											{% for course in courses %}
												<tr>
													<td>{{course.category.name}}</td>
													<td><a href="{% url 'courseDetail' course.slug %}">{{course.title|truncatechars:30}}</a></td>
													<td class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i> <i class="icon-star voted"></i></td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</center>
						</div>
					</div>


<!-- 
					<div class="box_teacher">
						<div class="indent_title_in">
							<i class="pe-7s-user"></i>
							<h3>Profil</h3>
						</div>
						<div class="wrapper_indent">
							<p>  <strong>Qumru Muradova</strong> <br>
								<strong>BİYOGRAFİ</strong> <br><br>
								2010 yılında psikoloji bölümünden mezun olmuş.İlk mesleki tecrübesini orta okulda çocuklarla yapmış.İs-Alyans Kurumunda çocuk ve Ergenlerle çalışmış ve aynı zamanda da yetişkinlerle eğitimlerini devam ettirmiştir.Çocuk ve ergen terapisinden başka Aile danışmanlığı ve Çift terapisi eğitimlerini de tamamlayarak yetişkinlerle de çalışmaya başlamıştır.Şuan hem yetişkin,hem de çocuk ve ergen terapisti olarak çalışıyor.Baküde ikamet ediyor.Online ve canlı hizmet  vermektedir.Aynı zamanda yaşam koçudur</p>
							<h5>Aldığım Eğitimler</h5>
							<p>Şimdiye kadar aldığım tüm eğitimler aşağıda sıralanmaktadır.</p>
							<div class="row">
								<div class="col-md-6">
									<ul class="list_3">
										<li><strong>BDT</strong>
										</li>
										<li><strong>Çift Terapisi</strong>
										</li>
										<li><strong>Aile danışmanlığı</strong>
										</li>
                                        <li><strong>Oyun terapisi</strong>
										</li>
										<li><strong>EFT</strong>
										</li>
										<li><strong>Narsisizm</strong>
										</li>
                                        <li><strong>NLP</strong>
										</li>
										<li><strong>EMDR</strong>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_3">
                                        <li><strong>Hipnoz</strong>
										</li>
                                        <li><strong>DEHB</strong>
										</li>
                                        <li><strong>ÇEKİM YASASI</strong>
										</li>
                                        <li><strong>Mindfulness</strong>
										</li>
										<li><strong>Vaginizm</strong>
										</li>
										<li><strong>Kişilik Bozukluğu</strong>
										</li>
										<li><strong>OKB</strong>
										</li>
										<li><strong>Hoponopono</strong>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="styled_2">
				
						<div class="wrapper_indent">
							
							<h5>Verdiğim Eğitimler</h5>
							<p>Şimdiye kadar verdiğim tüm eğitimler aşağıda sıralanmaktadır.</p>
							<div class="row">
								<div class="col-md-6">
									<ul class="list_3">
										<li><strong>Çocuklarla sağlıklı iletişim</strong>
										</li>
										<li><strong>NLP</strong>
										</li>
										<li><strong>EFT</strong>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_3">
                                        <li><strong>Hoponopono</strong>
										</li>
                                        <li><strong>Çekim yasası</strong>
										</li>
                                    
									</ul>
								</div>
							</div>
						</div>
					</div> -->


				</div>	




			</div>
		</div>




		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-3" id="sidebara">
					
					<div class="profile">
						<figure><img width="99%"  src="https://psychologs3.s3.amazonaws.com/static/assets/img/kumru_muradova3.jpg" alt="Teacher" class="rounded-circle"></figure>
						<center>
							<a href="{% url 'times' %}" target="_blank" style="background-color: red;" type="button" class="btn btn-light">Randevu Al</a>
						</center>
						<br>
						<ul class="social_teacher">
							<li><a href="https://www.facebook.com/qumru.muradova.37"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.instagram.com/invites/contact/?i=6ub30y2kespv&utm_content=3x8qh5a"><i class="icon-instagram"></i></a></li>
							<li><a href="#"><i class="icon-email"></i></a></li>
						</ul>
						<ul>
							<li>İsim <span class="float-right">Qumru Muradova</span> </li>
							<li>Kurs Sayısı <span class="float-right">5</span></li>
						</ul>
					</div>
				</aside>
				
				<div class="col-lg-9">
					



					<div class="box_teacher">
						<div class="indent_title_in">
							<i class="pe-7s-user"></i>
							<h3>Profil</h3>
						</div>
						<div class="wrapper_indent">
							<p>  <strong>Qumru Muradova</strong> <br>
								<strong>BİYOGRAFİ</strong> <br><br>
								2010 yılında psikoloji bölümünden mezun olmuş.İlk mesleki tecrübesini orta okulda çocuklarla yapmış.İs-Alyans Kurumunda çocuk ve Ergenlerle çalışmış ve aynı zamanda da yetişkinlerle eğitimlerini devam ettirmiştir.Çocuk ve ergen terapisinden başka Aile danışmanlığı ve Çift terapisi eğitimlerini de tamamlayarak yetişkinlerle de çalışmaya başlamıştır.Şuan hem yetişkin,hem de çocuk ve ergen terapisti olarak çalışıyor.Baküde ikamet ediyor.Online ve canlı hizmet  vermektedir.Aynı zamanda yaşam koçudur</p>
							<h5>Aldığım Eğitimler</h5>
							<p>Şimdiye kadar aldığım tüm eğitimler aşağıda sıralanmaktadır.</p>
							<div class="row">
								<div class="col-md-6">
									<ul class="list_3">
										<li><strong>BDT</strong>
										</li>
										<li><strong>Çift Terapisi</strong>
										</li>
										<li><strong>Aile danışmanlığı</strong>
										</li>
                                        <li><strong>Oyun terapisi</strong>
										</li>
										<li><strong>EFT</strong>
										</li>
										<li><strong>Narsisizm</strong>
										</li>
                                        <li><strong>NLP</strong>
										</li>
										<li><strong>EMDR</strong>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_3">
                                        <li><strong>Hipnoz</strong>
										</li>
                                        <li><strong>DEHB</strong>
										</li>
                                        <li><strong>ÇEKİM YASASI</strong>
										</li>
                                        <li><strong>Mindfulness</strong>
										</li>
										<li><strong>Vaginizm</strong>
										</li>
										<li><strong>Kişilik Bozukluğu</strong>
										</li>
										<li><strong>OKB</strong>
										</li>
										<li><strong>Hoponopono</strong>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="styled_2">
				
						<div class="wrapper_indent">
							
							<h5>Verdiğim Eğitimler</h5>
							<p>Şimdiye kadar verdiğim tüm eğitimler aşağıda sıralanmaktadır.</p>
							<div class="row">
								<div class="col-md-6">
									<ul class="list_3">
										<li><strong>Çocuklarla sağlıklı iletişim</strong>
										</li>
										<li><strong>NLP</strong>
										</li>
										<li><strong>EFT</strong>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_3">
                                        <li><strong>Hoponopono</strong>
										</li>
                                        <li><strong>Çekim yasası</strong>
										</li>
                                    
									</ul>
								</div>
							</div>
						</div>
					</div>


				</div>	

			</div>
		</div>




	</main>
	{% endblock content %}
	



