
{% extends 'base.html' %}


{% load static %}



{% block divFeatures %} id="page" class="theia-exception" {% endblock divFeatures %}

	
	{% block content %}
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Randevu Satış Sözleşmesi</h1>
				</div>
			</div>
		</section>
		<div class="container margin_60_35">
			<div class="row">
				<div>
					<div class="box_teacher">
						<div class="indent_title_in">
							<i class="pe-7s-user"></i>
							<h3>Randevu Satış Sözleşmesi</h3>
						</div>
						<div class="wrapper_indent">
							<p>İlkelerimiz: <br><br>
                                ➡️Psikoterapi,uzman kişilerle sorunlarınızı aşma sürecidir.Bu sürecin başarılı olması siz danışanların  istikrarı ile  de alakalıdır.<br><br>
                                ➡️Bir seans 45-50 dakikadır.<br><br>
                                ➡️Seansa geç gelindiğinde görüşme belirlenen saatinde biter.Görüşmeye ekleme yapılmaz.<br><br>
                                ➡️Seansa gelmediğinizde  seans gününden en az iki gün önce kadar iptal edilmeyen seansların ücreti ödenir.<br><br>
                                ➡️Gerektiğinde danışmanınız ilaç desteği konusunda bir psikyatriste yönlendirebilir.<br><br>
                                ➡️Danışmanınızla konuştuklarınız sizin izniniz olmadığı sürece kimseyle paylaşılmayacaktır.Yalnız tehlikeli durumlarda buna gerek duyulabilir.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	{% endblock content %}

	

