{% extends 'base.html' %}


{% load static %}
{% load booking_dates %}


{% block cssFiles %}
<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    
    .title {
      color: grey;
      font-size: 18px;
    }
    
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    a.deneme{
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
    
    button:hover, a:hover {
      opacity: 0.7;
    }
    </style>
{% endblock cssFiles %}






{% if page %}
	
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	
	
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	
	
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
	
{% endif %}






{% block divFeatures %}id=page{% endblock divFeatures %}






{% block content %}




<main>
	<section id="hero_in" class="contacts">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>Psikoloğunuzu Seçin</h1>
			</div>
		</div>
	</section>
	




	<div class="bg_color_1">
		<div class="container margin_120_95">
			<div class="row justify-content-between">
			

               
                   
                   <!-- {% for staffUser in staffUsers %}
                     <div class="card col-lg-6">
                         <center><img src="media/avatar/no-avatar.png" alt="John" style="width:50%"></center>
                       
                         <br>
                         <p class="title">{{staffUser.get_full_name}}</p>
                         <p>Psikolog</p>
                         <div style="margin: 24px 0;">
                           <a class="deneme" href="#"><i class="fa fa-dribbble"></i></a> 
                           <a class="deneme" href="#"><i class="fa fa-twitter"></i></a>  
                           <a class="deneme" href="#"><i class="fa fa-linkedin"></i></a>  
                           <a class="deneme" href="#"><i class="fa fa-facebook"></i></a> 
                         </div>
                         <p><button onclick="clickToAppointment('{{staffUser.pk}}')">Seç</button></p>
                       </div>
                   {% endfor %} -->

                   
                   {% for staffUser in staffUsers %}
                    <div class="col-lg-4" style="float:left;">
 					
                      <div class="profile">
                        <figure><img width="99%"  src="{{staffUser.image.url}}" alt="Teacher" class="rounded-circle"></figure>
                        <center>
                          <a href="{% url 'times' staffUser.pk %}" target="_blank" style="background-color: turquoise;" type="button" class="btn btn-light">Randevu Al</a>
                        </center>
                        <br>
                        <ul class="social_teacher">
                          <li><a href="{{staffUser.facebook}}"><i class="icon-facebook"></i></a></li>
                          <li><a href="{{staffUser.twitter}}"><i class="icon-twitter"></i></a></li>
                          <li><a href="{{staffUser.instagram}}"><i class="icon-instagram"></i></a></li>
                          <li><a href="mailto:{{staffUser.email}}"><i class="icon-email"></i></a></li>
                        </ul>
                        <ul>
                          <li>İsim <span class="float-right">staffUser.get_full_name</span> </li>
                          <li>Kurs Sayısı <span class="float-right">5</span></li>
                        </ul>
                      </div>
                    </div>
                   {% endfor %}
                    
                    
                    
                      
                   



			
			</div>
		</div>
	</div>
</main>

{% endblock content %}




{% block jsFiles %}


<script>

    function clickToAppointment(id){
        window.location.href="/uygun-zamanlar/"+id;

    }


</script>



{% endblock jsFiles %}