{% extends 'base.html' %}
{% load static %}
{% load booking_dates %}
{% if page %}
	{% block title %}
	<title>{{page.meta_title}}</title>
	{% endblock title %}
	{% block description %}
	<meta name="description" content="{{page.meta_description}}">
	{% endblock description %}
	{% block keywords %}
	<meta name="keywords" content="{{page.meta_keywords}}">
	{% endblock keywords %}
{% endif %}
{% block cssFiles %}
<link href="{% static 'assets/css/responsiveAppointment.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/fullcalendar.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/fullcalendar.print.css' %}" rel="stylesheet" media="print">
<link href="{% static 'assets/css/responsiveAppointment.css' %}" rel="stylesheet">

<style>
	* {
  margin: 0;
  padding: 0;
}

.loader {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loading {
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #1ecd97;
  border-left-color: #1ecd97;
  animation: spin 1s infinite ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



td.fc-day.fc-past {
    background-color: #EEEEEE;
}

.left, .right {
  background: white;
  display: inline-block;
  border: 1px solid black;
  margin-left: 15px;
  width: 50%;
  margin-right:-4px;  
  vertical-align:top;
}


</style>

{% endblock cssFiles %}
{% block divFeatures %}id=page{% endblock divFeatures %}
{% block content %}
<main id="firstMain" style="display: block;">
	<section id="hero_in" class="general">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>Randevu Al</h1>
			</div>
		</div>
	</section>
	<!--/hero_in-->

	<div class="container margin_60_35">
		
		<div  class="alert alert-info col-lg-9" role="alert">
			<center><strong>Sistemden alınan randevular geri iade edilmemektedir. Detaylı bilgi için bizimle <a target="blank" href="https://wa.me/{{sm.phone_number}}" style="font-weight: bold;">iletişime</a> geçiniz.</strong></center>
			</div>

		<div id="sccMessage" style="display: none;" class="alert alert-success col-lg-9" role="alert">
			<center><strong>Mesajınız başarıyla tarafımıza iletildi.En kısa sürede sizinle iletişime geçilecektir.Teşekkür ederiz.</strong></center>
			</div>
		
			<div id="errMessage" style="display: none;" class="alert alert-danger col-lg-9" role="alert">
				<center><strong>Lütfen zorunlu bilgilerin eksiksiz girildiğinden emin olunuz.</strong></center>
				</div>
		<div class="row">
			<div class="col-md-9">
				<div class="box_general">
					<div id="calendar"></div>
				</div>
			</div>
			<div class="col-md-3">
				<div id="external-events">
					<h5>Randevu Saatleri</h5>
				</div>
			</div>
		</div>
	</div>
</main>
<input type="hidden" value=""  id="currentIdClass">	
<main id="secondMain" style="display: none;">
	<section id="hero_in" class="contacts">
		<div class="wrapper">
			<div class="container">
				<h1  class="fadeInUp"><span></span>Randevu Talebinde Bulunun</h1>
			</div>
		</div>
	</section>
	<div class="contact_info">
		<div class="container">
			<ul class="clearfix">
				<li>
					<i class="pe-7s-map-marker"></i>
					<h4>Adres</h4>
					<span>{{address}}</span>
				</li>
				<li>
					<i class="pe-7s-mail-open-file"></i>
					<h4>Email Adresi</h4>
					<span>{{sm.email}}<br><small> </small></span>
				</li>
				<li>
					<i class="pe-7s-phone"></i>
					<h4>Telefon</h4>
					<span>{{sm.phone_number}}<br><small></small></span>
				</li>
			</ul>
		</div>
	</div>

	<div class="bg_color_1">
		<div class="container margin_120_95">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_eIXuIz.json"
						background="transparent" speed="1" style="width:100%;" loop autoplay></lottie-player>
				</div>
				<div class="col-lg-6">
					<h4>Randevu isteğinde bulunun</h4>
					<p>Şimdi zamanı seçin ve randevu isteiğinde bulunun.</p>
					<br>
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}

						{% if 'appointmentMessages' in message.extra_tags %}
						{% if message.tags == "error" %}
						<div class="alert alert-danger" role="alert">

							<center><strong>{{message}}</strong></center>
						</div>
						{% else %}

						<div class="alert alert-success" role="alert">

							<center><strong>{{message}}</strong></center>
						</div>

						{% endif %}

						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}

					<div id="message-contact"></div>
					<form method="post" id="formSubmit" action="">
						{% csrf_token %}
						<div class="row">


							{% for field in form.visible_fields %}



							{% if forloop.last %}
							<div class="col-md-12">
								<span id="{{field.name}}" class="input">
									{{field}}
									<label class="input_label">
										<span class="input__label-content">{{field.label_tag}}</span>
									</label>
								</span>
							</div>
							{% elif forloop.first %}
							<div class="col-md-12">
								<span id="{{field.name}}" class="input">
									{{field}}
									<label class="input_label">
										<span>{{field.label_tag}}</span>
									</label>
								</span>
							</div>
							{% else %}
							<div class="col-md-6">
								<span id="{{field.name}}" class="input">
									{{field}}
									<label class="input_label">
										<span class="input__label-content">{{field.label_tag}}</span>
									</label>
								</span>
							</div>
							{% endif %}


							{% endfor %}

						</div>
						<input onchange="changeCheck()" type="checkbox" id="checkBuy">
						<label for="checkBuy"> <a target="blank" href="/randevu-satis-sozlesmesi">Randevu onay sözleşmesini</a> okudum,onaylıyorum.</label><br>

						<p class="add_top_30"><input style="background-color: gray;" onclick="spinner()"
						{% if isFree == "notNo" %}
							disabled style="background-color: turquoise;"
						{% endif %}
							 value="Randevu Al" class="btn_1 rounded" 
								id="submit-contact"></p>
								<div class="loader">
									<div class="loading">
									</div>
								  </div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
{% comment %}
<main>
	<div class="bg_color_1">
		<div class="container margin_120_95">
			<hr>
			<br>
			<div class="row justify-content-between">
				<div class="col-lg-12">
					<div id="message-contact"></div>
					<center>
						<div class="col-lg-12">
							<div class="card booking-schedule schedule-widget">
								<div class="schedule-header">
									<div class="row">
										<div class="col-md-12">
											<div class="day-slot">
												<ul>
													{% for day in days %}
													{% dates day as dayName %}
													<li>
														<span>{{day}}</span>
														<span class="slot-date">{{dayName}}</span>
													</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="schedule-cont">
									<div class="row">
										<div class="col-md-12">
											<div class="time-slot">
												<ul class="clearfix">
													<li>
														{% if schedules1 %}
														{% for schedule in schedules1 %}
														<a {% if schedule.status == "no" %} 
														onclick="clicked(this)" style="color: green; width: 60px; " 
														 {% else %}
															style="text-decoration: line-through; color: red; width: 60px;"
															 {% endif %}
															  class="timing"
															id="{{schedule.pk}}" href="#">
															<span>{{schedule.starting_time.hour}}-{{schedule.finishing_time.hour}}
																</span>
														</a>
														{% endfor %}
														{% else %}
														<center>-</center>
														{% endif %}
													</li>
													<li style="padding-left: 0px;">
														{% if schedules2 %}
														{% for schedule in schedules2 %}
														<a {% if schedule.status == "no" %} onclick="clicked(this)"  style="color: green; width: 60px;"
														{% else %}
															style="text-decoration: line-through; color: red; width: 60px;"
															 {% endif %} 
															 class="timing"
															id="{{schedule.pk}}" href="#">
															<span>{{schedule.starting_time.hour}}-{{schedule.finishing_time.hour}}
																</span>
														</a>
														{% endfor %}
														{% else %}
														<center>-</center>
														{% endif %}
													</li>
													<li>
														{% if schedules3 %}
														{% for schedule in schedules3 %}
														<a {% if schedule.status == "no" %} onclick="clicked(this)"  style="color: green; width: 60px;"
														{% else %}
															style="text-decoration: line-through; color: red; width: 60px;" 
															{% endif %}
															 class="timing"
															id="{{schedule.pk}}" href="#">
															<span>{{schedule.starting_time.hour}}-{{schedule.finishing_time.hour}}
																</span>
														</a>
														{% endfor %}
														{% else %}
														<center>-</center>
														{% endif %}
													</li>
													<li>
														{% if schedules4 %}
														{% for schedule in schedules4 %}
														<a {% if schedule.status == "no" %} onclick="clicked(this)" style="color: green; width: 60px;"
														 {% else %}
															style="text-decoration: line-through; color: red; width: 60px;" 
															{% endif %} 
															class="timing"
															id="{{schedule.pk}}" href="#">
															<span>{{schedule.starting_time.hour}}-{{schedule.finishing_time.hour}}
																</span>
														</a>
														{% endfor %}
														{% else %}
														<center>-</center>
														{% endif %}
													</li>
													<li>
														{% if schedules5 %}
														{% for schedule in schedules5 %}
														<a {% if schedule.status == "no" %} onclick="clicked(this)"  style="color: green; width: 60px;"
														{% else %}
															style="text-decoration: line-through; color: red; width: 60px;" 
															{% endif %} 
															class="timing"
															id="{{schedule.pk}}" href="#">
															<span>{{schedule.starting_time.hour}}-{{schedule.finishing_time.hour}}
																</span>
														</a>
														{% endfor %}
														{% else %}
														<center>-</center>
														{% endif %}
													</li>
													<li>
														{% if schedules6 %}
														{% for schedule in schedules6 %}
														<a {% if schedule.status == "no" %} onclick="clicked(this)"  style="color: green; width: 60px;"
														{% else %}
															style="text-decoration: line-through; color: red; width: 60px;"
															 {% endif %} 
															 class="timing"
															id="{{schedule.pk}}" href="#">
															<span>{{schedule.starting_time.hour}}-{{schedule.finishing_time.hour}}
																</span>
														</a>
														{% endfor %}
														{% else %}
														<center>-</center>
														{% endif %}
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="submit-section proceed-btn text-right">
								<a  onclick='forwardClicked();' id="submit-button" class="btn btn-primary submit-btn">İlerle</a>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>
</main>
<input type="hidden" value=""  id="currentIdClass">	
{% endcomment %}


{% endblock content %}




{% block jsFiles %}



<!-- SPECIFIC SCRIPTS -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{% static 'assets/js/mapmarker.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/mapmarker_func.jquery.js' %}"></script>

	<!-- SPECIFIC CALENDAR --> 
	<script src="{% static 'assets/js/moment.min.js' %}"></script>
	<script src="{% static 'assets/js/fullcalendar.min.js' %}"></script>



<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


<script>



function spinner() {
    document.getElementsByClassName("loader")[0].style.display = "block";
}

let today = new Date().toISOString().slice(0, 10)

window.onload = callAjax(today);
	$('#calendar').fullCalendar({
	monthNames: ['Ocak','Şubat','Mart','Nisan','Mayıs','Haziran','Temmuz','Ağustos','Eylül','Ekim','Kasım','Aralık'],
    monthNamesShort: ['Ocak','Şbt','Mrt','Nsn','Mys','Hzr','Tmz','Ağs','Eyl','Ekm','Ksm','Arl'],
    dayNames: ['Pazar','Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi'],
    dayNamesShort: ['Pzr','Pzt','Sal','Çrş','Prş','Cum','Cmt'],
    selectable: true,
    select: function(start, end, jsEvent, view) {
         // start contains the date you have selected
         // end contains the end date. 
         // Caution: the end date is exclusive (new since v2).
         var allDay = !start.hasTime() && !end.hasTime();
		 callAjax(moment(start).format())
        //  alert(["Event Start date: " + moment(start).format(),
        //         "Event End date: " + moment(end).format(),
        //         "AllDay: " + allDay].join("\n"));
    },
	eventConstraint: {
		start: moment().format('YYYY-MM-DD'),
		end: '2100-01-01' // hard coded goodness unfortunately
	},

});
function callAjax(date){
	$.ajax({
		type: "POST",
		url: "/randevulari-cek",
		data: {
			'date': date,
		},
		success: function (data) {
			ourDiv=document.getElementById("external-events");
			ourDiv.innerHTML="<h5>Randevu Saatleri</h5>";
			console.log(data);
			if(data["schedules"].length==0){
				ourDiv.innerHTML="<h5>Randevu Saatleri</h5><div>Ekli saat bilgisi bulunamadı</div>";
			}else{
				for (let i = 0; i < data["schedules"].length; i++) {
					const start = data["schedules"][i]["starting_time"].split(":")[0];
					const finish = data["schedules"][i]["finishing_time"].split(":")[0];
					var nameofWhere=""
					if(i%2==0){
						nameofWhere="left";
					}else{
						nameofWhere="right";
					}
					var addSchedule=`<div id='${data["schedules"][i]["id"]}' onclick='select(${data["schedules"][i]["id"]});' style='width: 40%; background-color: turquoise !important;' class='external-event ${nameofWhere}'><i class='fa-solid fa-clock'></i>${start}-${finish}</div>`;
					if (data["schedules"][i]["status"]=="no"){
						ourDiv.innerHTML=ourDiv.innerHTML +addSchedule;
						
					}else{
						ourDiv.innerHTML=ourDiv.innerHTML +"<div style='width: 40%; text-decoration: line-through; background-color: turquoise !important;' class='external-event "+nameofWhere +"'><i class='fa-solid fa-clock'></i>"+start+"-"+finish+"</div>"
					}
				
				}
				ourDiv.innerHTML=ourDiv.innerHTML +"<br><br><a id='forwardBtn' disabled class='btn btn-success' onclick='forwardClicked();' style='float:right; color: white; background-color:turquoise ' type='button'>İlerle</a>"
			}
		}
	});
}
 


function select(id){
	var formm=document.getElementById("formSubmit");
	var btn=document.getElementById("forwardBtn");
		var scheduleDiv=document.getElementById(id);
		console.log(scheduleDiv.style.backgroundColor);
		var items = document.getElementsByClassName('external-event');
		for (var i = 0; i < items.length; i++) {
			if(items[i]!=scheduleDiv){
				items[i].style.setProperty("background-color", "turquoise", "important");
			}
			
		}
	if(scheduleDiv.style.backgroundColor=="turquoise"){
		scheduleDiv.style.backgroundColor="";
		btn.disabled=false;
		btn.style.backgroundColor="";
		formm.action="/randevu-formu-kaydet/"+id;
	//	btn.href="/randevu-talebi/"+id;
		
	}else{
		scheduleDiv.style.setProperty("background-color", "turquoise", "important");
		btn.disabled=true;
		btn.href="#";
		btn.style.backgroundColor="turquoise";
		formm.action="#";

	}
}
function forwardClicked(){
	
	if(document.getElementById("forwardBtn").disabled==false){
		document.getElementById("firstMain").style.display="none";
		document.getElementById("secondMain").style.display="block";
		fillTheForm();
	}
	document.getElementsByClassName("loader")[0].style.display = "none";
}
function backwardClicked(){

document.getElementById("firstMain").style.display="block";
document.getElementById("secondMain").style.display="none";
document.getElementsByClassName("loader")[0].style.display = "none";
changeCheck();

}
var frm = $('#formSubmit');

$('#submit-contact').click(function(event){
         event.preventDefault(); //so that we stop normal form submit.
         $.ajax({
		type: frm.attr('method'),
		url: frm.attr('action'),
		data: frm.serialize(),
		success: function (data) {
			console.log("scs");
			frm.trigger('reset');
			backwardClicked();
			document.getElementById(data["randevuId"]).style.setProperty("background-color", "turquoise", "important");
			document.getElementById(data["randevuId"]).style.setProperty("text-decoration", "line-through", "important");
			document.getElementById("forwardBtn").href="#";
			document.getElementById("forwardBtn").style.backgroundColor="turquoise";
			document.getElementById("forwardBtn").disabled=true;
			frm.action="#";
			var ourDiv=document.getElementById("external-events");
			ourDiv.innerHTML="<h5>Randevu Saatleri</h5>";
			if(data["schedules"].length==0){
				ourDiv.innerHTML="<h5>Randevu Saatleri</h5><div>Ekli saat bilgisi bulunamadı</div>";
			}else{
				for (let i = 0; i < data["schedules"].length; i++) {
					const start = data["schedules"][i]["starting_time"].split(":")[0];
					const finish = data["schedules"][i]["finishing_time"].split(":")[0];
					var addSchedule=`<div id='${data["schedules"][i]["id"]}' onclick='select(${data["schedules"][i]["id"]});' style='width: 40%; background-color: turquoise !important;' class='external-event'><i class='fa-solid fa-clock'></i>${start}-${finish}</div>`;
						
					if (data["schedules"][i]["status"]=="no"){
						ourDiv.innerHTML=ourDiv.innerHTML +addSchedule;
					}else{
						ourDiv.innerHTML=ourDiv.innerHTML +"<div style='width: 40%; text-decoration: line-through; background-color: turquoise !important;' class='external-event'><i class='fa-solid fa-clock'></i>"+start+"-"+finish+"</div>"
					}
				
				}
				ourDiv.innerHTML=ourDiv.innerHTML +"<br><br><a id='forwardBtn' disabled class='btn btn-success' onclick='forwardClicked();' style='float:right; color: white; background-color:turquoise;' type='button'>İlerle</a>"
			}
			if(data["status"]=="success"){
				location.replace("/randevu-satin-alimi/"+data["randevuId"])
			}else if(data["status"]=="error"){
				document.getElementById("sccMessage").style.display="none";
				document.getElementById("errMessage").style.display="block";
			}
			changeCheck();
			document.getElementsByClassName("loader")[0].style.display = "none";
			
		},
		error: function(data) {
			document.getElementById("errMessage").style.display="block";
			document.getElementById("sccMessage").style.display="none";
			document.getElementsByClassName("loader")[0].style.display = "none";
			frm.trigger('reset');
			backwardClicked();
			console.log("err")
			frm.action="#";
		}
	});
    });
	function fillTheForm(){
		var is_authenticated = "{{request.user.is_authenticated}}";
		if(is_authenticated=="True"){
			var fullname="{{request.user.get_full_name}}";
			var phone_number="{{request.user.phone_number}}";
			var email="{{request.user.email}}";
			var address="{{request.user.address}}";
			if (fullname!="" ){
				document.getElementById("id_fullname").value=fullname;
				document.getElementById("fullname").className="input input--filled";
			}
			if (phone_number!="" ){
				document.getElementById("id_phone_number").value=phone_number;
				document.getElementById("phone_number").className="input input--filled";
			}
			if (email!="" ){
				document.getElementById("id_email").value=email;
				document.getElementById("email").className="input input--filled";
			}
			if (address!="" ){
				document.getElementById("id_address").value="{{request.user.address}}";
				document.getElementById("address").className="input input--filled";
			}

			
		}
	}
	function changeCheck(){
		var box=document.getElementById("checkBuy");
		var btnBuy=document.getElementById("submit-contact");
		if(box.checked==true){
			btnBuy.style.backgroundColor="";
			btnBuy.disabled="";
			
		}else{
			btnBuy.style.backgroundColor="gray";
			btnBuy.disabled="disabled";
		}
	}
</script>
{% endblock jsFiles %}